<footer>
  <div class="footer_container d-flex flex-column flex-md-row flex-lg-row flex-xl-row justify-content-center">

    <div class="left_row">

      <h3 class="text-uppercase">Aidez nous<br>Pour aider les autres.</h3>

      <div class="contact_medias d-flex flex-column">

        <div class="single_media">
          <span>05-22-98-01-36</span>
        </div>

        <div class="single_media text-uppercase">
          <span>
            Rue Ahmed<br>El khadliri<br> Valfleuri Casablanca
          </span>
        </div>

      </div>

    </div>

    <div class="right_row d-flex flex-column">

      <div class="top_column d-flex flex-column flex-sm-row flex-md-row flex-lg-row flex-xl-row mr-4 flex-wrap">
        <div class="single_link">
          <a href="#">Nous Joindre</a>
        </div>
        <div class="single_link">
          <a href="#">Visiter nous</a>
        </div>
        <div class="single_link">
          <a href="#">Informations</a>
        </div>
        <div class="single_link">
          <a href="#">Bénévoler</a>
        </div>
      </div>

      <div class="bottom_column d-flex flex-column flex-md-row flex-lg-row flex-xl-row">

        <div class="single_row d-flex flex-column bottom_left_row">

          <div class="single_column">
            <h6 class="text-uppercase">Liens utiles</h6>
            <hr>
          </div>

          <div class="single_column d-flex flex-column flex-md-row flex-lg-row flex-xl-row">
            <div class="links_row d-flex flex-column">
              <a href="#">Formation appretissage</a>
              <a href="#">Formation Diplomé</a>
              <a href="#">Insertion en entreprise</a>
              <a href="#">Insertion en société</a>
            </div>
            <div class="links_row d-flex flex-column">
              <a href="#">Bibliothèque</a>
              <a href="#">Photothèque</a>
            </div>
            <div class="links_row d-flex flex-column">
              <a href="#">Agenda</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </div>
        <div class="single_row d-flex flex-column bottom_right_row">
          <h6>FOLLOW US</h6>
          <div class="single-column d-flex flex-row flex-wrap justify-content-left">
            <a href="#">Lorem</a>
            <a href="#">Lorem</a>
            <a href="#">Lorem</a>
            <a href="#">Lorem</a>
            <a href="#">Lorem</a>
            <a href="#">Lorem</a>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="text-center pb-5">
      <span>Copyrights : &copy;2019 - Team Aljisr</span>
    </div>
</footer>