@import "../../variables.scss";

carousel {
  slide {
    img {
      width: 100%;
      height: auto;
      -webkit-filter: brightness(40%);
      /* Safari 6.0 - 9.0 */
      filter: brightness(40%);

    }
  }
}



// carousel styling
.carousel-indicators {
  position: absolute !important;
  left: 63% !important;
  top: 79.4% !important;
}

.carousel-indicators li {
  width: .8vw;
  height: .8vw;
  margin: 0vw .2vw;
  border-radius: 50%;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: $primary-color;

}

.carousel-control {
  top: 80.3%;
  bottom: 16%;
  opacity: 1;
}

.carousel-control-prev {
  left: 76%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.carousel-control-next {
  right: 13%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}


// media queries
@media screen and (max-width:850px) {

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width:650px) {
  .carousel-indicators {
    left: 59% !important;
    top: 88.4% !important;
  }
}




@media screen and (max-width:350px) {
  .carousel-indicators {
    left: 59% !important;
    top: 92.4% !important;
  }
}
