<!-- splash screen -->
<app-routing-loading-screen></app-routing-loading-screen>


<section class="pole-education">
  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink">Pole Education & Parrainage</span>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink">Présentation</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons"></app-pages-slogons>

  <main class="educSection">
    <div class="titlecontainer">
      <div class="title d-flex flex-row align-items-center">
        <span class="number">01</span>
        <h1 class="text-uppercase">éducation</h1>
      </div>
    </div>

    <!-- Articles -->
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3 class="text-uppercase">parrainage école-entreprise</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <p class="paragraph">
            Ce programme consiste en <span class="blue-text">l'accompagnement durable</span> , entre 3 et 5 ans
            d'un établissement scolaire par une entreprise qui participe au comité de gestion
            de l'établissement. Dans ce cadre , Aljisr a pour rôle <span class="blue-text"> d'assurer le suivi et la
              gestion optimale du partenariat.</span> cette démarche comporte trois phases distinctes :
          </p>
          <p class="list-item"><span class="Listnumber">1</span> <span class="blue-text"> Choix de l'établissement à
              parrainer :</span> en fonction de la
            proximité géographique de l'école
            avec l'entreprise et selon les besoins prioritaires identifiés par l'Académie régionale de l'education et de
            la formation (AREF)</p>
          <p class="list-item"><span class="Listnumber">2</span> <span class="blue-text"> Signature de la convention de
              parrainage :</span> pour
            formaliser le parrainage et fixer les modalités d'intervention et les rôles de chacune des parties prenantes
            , une convention tripartite est signée entre l'AREF concernée , l'entreprise et Al jisr </p>
          <p class="list-item"><span class="Listnumber">3</span> <span class="blue-text"> Lancement et suivi du
              parrainage :</span> l'entreprise désigne
            un représentant qui participe au conseil de gestion de l'école aux côtés d'un membre d'Al jisr , Ensemble ,
            ils vont : </p>
          <p class="list-item blue-text"><span class="Listnumber">✓</span>Identifier et étudier les besoins de
            l'établissement
            scolaire parrainé</p>
          <p class="list-item blue-text"><span class="Listnumber">✓</span>Etablir un plan d'action annuel </p>
          <p class="list-item blue-text"><span class="Listnumber">✓</span>Exécuter le plan d'action </p>
          <p class="list-item blue-text"><span class="Listnumber">✓</span>Faire le bilan des actions menées </p>
          <br>
          <p class="blue-left-border"> <span class="blue-text">Au-delà de son soutien financier</span> l'entreprise est
            sollicitée pour
            intervenir dans plusieurs domaines clés
            qui comprennent l'infrastructure , l'équipement , la formation ou encore les activités parascolaires à
            destinaton de l'établissement et de ses élèves .</p>
        </div>
      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row-reverse  align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase reverse-rect">
            <h3 class="text-uppercase">intégration du préscolaire</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <div class="pr-5 paragraph">
            <p>
              Al Jisr oeuvre depuis sa création à la réduction des inégalités dans <span class="blue-text"> l'accès à
                une éducation de base de
                qualité</span>. Pour garantir aux enfants les meilleures conditions d'éveil et d'apprentissage . et
              <span class="blue-text"> pour
                augmenter le taux de réussité scolaire dans les millieux défavorisés</span> l'association met en place
              des
              classes du préscolaire au sein des écoles primaires publiques
            </p>
            <p class="blue-text list-item"><span class="Listnumber">✓</span>Lancé en 2011 , ce programme a permis
              d'intégrer neuf classes du préscolaire réparties
              dans les établissements suivants :</p>
            <p>
              * L'école primaire Youssef Bnou Tachfine , Dar Bouazza , avec le soutien de Cooper-Pharma <br>
              * L'école primaire Abou Hanifa , Casablanca , avec le soutien des Inner Wheel et de Cooper Pharma<br>
              * 5 écoles primaires de la commune rurale d'Ouled Salmane , Safi , avec le soutien de la fondation OCP
            </p>

          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row  align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3 class="text-uppercase">soutien scolaire</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <p class="mb-4 pl-4">Un nombre inquiétant d'enfants en âge d'être scolarisés <span class="blue-text">
                quittent
                l'école sans avoir acquis
                un niveau adéquat de compétences de base</span>. les taux de déperdition sont de <span
                class="blue-text"> 5.7% dans le primaire
                et de
                13,6 % dans l'enseignement collégial</span>, soit les taux les plus élevès observés
              dans le monde arabe en 2006 , selon une étude réalisée par l'UNESCO .
              Une des solutions pour contribuer à la limitation de l'abandon scolaire est le <span
                class="blue-text">soutien scolaire</span> <br>
              Aljisr mobilise ainsni le personnel bénévole des entreprises partenaires <span class="blue-text"> afin
                d'offrir des heures de
                bénévolat pour le soutien scolaire dans les écoles en zones défavorisées</span>.
              L'objectif principal a été d'assurer la réussite scolaire de tous les enfants bénéficiaires Grâce à un
              programme alliant le scolaire et l'extrascolaire
            </p>
            <p class="blue-left-border"><span class="blue-text">Au cours de l'année scolaire 2013-2014</span> , 64
              bénévoles d'entreprise sont intervenus au bénéfice de 550
              élèves .</p>
            <p class="mb-3 pl-4">
              Dans le cadre des ses programmes de renforcement de l'école , <span class="blue-text"> Al jisr et les
                entreprises partenaires</span>
              proposent des journées <span class="blue-text"> de solidarité et de sensibilisaton</span>
              ainsi que des sorties pédagogiques destinées à mobiliser les salariés dans le cadre d'actions concrètes au
              sein d'une école : journées du patrimoine , chorale scolaire
              club de lecture , etc ...
            </p>
            <p class="blue-left-border"> <span class="blue-text"> Au cours de l'année scolaire 2013-2014</span> , 100
              bénévoles d'entreprises sont intervenues auprés de 3 600
              élèves, parents et enseignants </p>
          </div>
        </div>
      </div>
    </article>



  </main>


</section>
