<!-- Splash screen-->
<app-routing-loading-screen></app-routing-loading-screen>

<section class="c2c">
  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink">Formation</span>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink">Centre de la deuxiéme chance</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons"></app-pages-slogons>


  <!-- Section title -->
  <div class="titlecontainer mt-4">
    <div class="title d-flex flex-row align-items-center">
      <span class="number">01</span>
      <h1 class="text-uppercase">Centre de la deuxième chance</h1>
    </div>
  </div>


  <div class="c2c-container">
    <!-- Articles -->
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-md-center">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Présentation</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <div class="paragraph">
            <div class="list-with-dots mt-2 mb-2">

              <p class="item-with-sm-dot mb-0">Difficultés d'insertion socio-professionnelle des jeunes (15 --> 30) ans
                en situation de précarité et de <span class="blue-text">écrochage scolaire et souffrant de faibles
                  compétences éducatives</span> ne leur permettant pas de réussir un cursus de formation professionnel
              </p>
              <p class="item-with-sm-dot mb-0 mt-3"><span class="blue-text">Afin de Favoriser l'intégration
                  socioprofessionnelle</span> de 600 jeunes de 15 à 30 ans en situation précaire à casblanca durant les
                trois années du projet
              </p>

            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row-reverse align-items-md-center mb-5">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase reverse-rect">
            <h3>Population cible</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <div class="paragraph pr-5">
            <div class="list-with-dots mt-2 mb-2">

              <p class="item-with-sm-dot mb-0">Les bénéficaires du centre sont des <span class="blue-text">jeunes de 15
                  à 30 ans</span> ayant <span class="blue-text">un faible niveau d'éducation</span> en décrochage
                scolaire (1ére année du collége minimum) et qui se trouvent dans une situation de vulnérabilité
                économique ou sociale
              </p>

            </div>
          </div>
        </div>

      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-md-start mt-4 mb-5">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Objectifs</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <div class="paragraph">
            <p class="list-item"><span class="Listnumber">1</span> <span class="blue-text">Garantir un accompagnement social individualisé des bénéficaires pendant tout leur processus de mise à niveau</span> de formation et d'insertion en impliquant leur famille afin de minimiser les risques d'abandon et maximiser leurs chances d'insertion 
            </p>
            <p class="list-item"><span class="Listnumber">2</span>Identifier et développer un réseau d'entreprises partenaires qui s'impliquent activement dans la formation et l'insertion professionnelle  des bénéficiaires <span class="blue-text">afin de répondre plus efficacement à leurs besoins en ressources humaines</span>
            </p>
            <p class="list-item"><span class="Listnumber">3</span><span class="blue-text">Assurer l'acquisition des compétences de base technique et transversales nécessaires à l'insertion professionnelle</span> des bénéficiares par des programmes adaptés à leur profils et des méthodes pédagogique efficaces 
            </p>
            <p class="list-item"><span class="Listnumber">4</span><span class="blue-text">Favoriser l'intégration socioprofessionnelle de 600 jeunes</span> en situation d'abandon scolaire de la ville de casblanca durant 3 années  
            </p>
          </div>
        </div>
      </div>
    </article>

  </div>
</section>