@import './variables.scss';
@import './mediaqueries.scss';

//pages flag 

.hero-flag {
  padding-bottom: 6rem;
  height: 25rem;

  .left-side {
    background: #01AEF3;
    color: white;

  }

  .right-side {
    box-shadow: inset 0 0 0 1000px rgba(34, 192, 255, 0.65);
    background-size: cover;
  }
}
