@import '../../variables.scss';
@import '../../mediaqueries.scss';

.check-card {
  background-color: color(primary);
  padding: 126px 38px;
  border-bottom: 2px solid white;

  p {
    font-family: $paragraph-font !important;
    color: color(reverse) !important;
    font-size: 20px !important;
    font-weight: bold !important;

    @include tablet {
      font-size: 17px !important;
    }

    @include tablet-sm {
      font-size: 2.5vw !important;
    }

    @include mobile-l {
      text-align: center;
      font-size: 4vw !important;
    }
  }

  .faire-un-dont {
    border: 1px solid color(reverse);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    width: 69%;

    @include tablet {
      width: 100%;
    }

    @include mobile-l {
      width: 70%;
      margin: auto;
      margin-top: 49px;
    }

    margin-top: 60px;
    cursor: pointer;
    position: relative;

    .checker {
      width: 25%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border: 1px solid color(reverse);
      border-radius: 30px;

      .checker-cont {
        width: 100%;
        height: 100%;
        background-color: color(reverse);
        position: relative;
        border: 1px solid color(reverse);
        border-radius: 30px;

        .checker-dot {
          width: 70%;
          height: 50%;
          background-color: color(primary);
          border: 1px solid color(reverse);
          border-radius: 30px;
          position: absolute;
          top: 28%;
          left: 5%;

        }
      }
    }

    a {
      font-size: 18px;
      color: color(reverse);
      text-decoration: none;
      font-weight: bold;
      padding: 6px 0px;
      padding-left: 87px;

      @include tablet {
        font-size: 15px;
        padding-left: 15vw;
      }

      @include tablet-sm {
        padding-left: 14vw;
        font-size: 2.3vw;
      }

      @include mobile-l {
        font-size: 3.3vw;
        padding-left: 17vw;
      }

      @include mobile-md {
        padding-left: 24vw;
      }
    }
  }
}


.benevole-modal {
  .modal-content {
    border: none !important;
    border-radius: unset !important;
  }

  .modal-content .modal-body {
    padding: 0 !important;

    .close {
      position: absolute;
      right: 15px;
      top: 10px;
      color: color(primary);
      opacity: 1;
      font-size: 40px;

      @include tablet-sm {
        font-size: 30px;
      }

      font-weight: 400;
    }

    .benevole-container {
      .lta-img-container {
        margin-top: 65px;
        margin-bottom: 20px;
      }

      .toolbar-wrapper {
        margin: 0px 10%;

        .toolbar-container {
          background-color: #e0e0e0;
          border-left: 4px solid color(primary);

          h5 {
            color: color(para-grey-bold);
            font-size: 14px;
            font-family: $font-family;
            padding: 20px;
          }
        }
      }

      .formulaire-wrapper {
        margin: 0% 11%;

        .form-wrapper {
          margin-top: 5%;

          form {
            height: 100%;

            .form-title {
              margin-bottom: 3px;

              h1 {
                font-size: 15px;
                font-family: $font-family;
                font-weight: bolder;
                margin: 0 !important;
              }

              .spec-title {
                font-size: 13px;
                color: color(reverse);
                background-color: color(primary);
                padding: 7px 17px;
                border-radius: 5px;
                font-weight: 300;
              }
            }

            .double-form-container {
              width: 100%;
              margin-bottom: 10px;

              .form-cont {
                &:first-child {
                  padding-right: 10px;
                }

                width: 50%;

                .mat-form-field {
                  width: 100%;

                  @include tablet-sm {
                    font-size: 12px;
                  }
                }
              }
            }

            .single-form-container {
              width: 100%;
              margin-bottom: 10px;

              .form-cont {
                width: 100%;

                @include tablet-sm {
                  font-size: 12px;
                }

                .mat-form-field {
                  width: 100%;
                }
              }

              .select-form-cont {
                width: 100px;
                @include tablet-sm{
                  font-size: 12px;
                }

                .mat-form-field {
                  width: 100%;

                }
              }
            }

            .checkbox-cont {
              width: 100%;

              .mat-checkbox {
                .mat-checkbox-label {
                  white-space: initial;

                  .accord {
                    position: relative;
                    top: 1px;
                    color: #929292;

                    a {
                      color: color(primary);
                      text-decoration: none;
                    }
                  }
                }
              }
            }

            .btn-cont {
              width: 100%;
              padding: 50px 0px;

              .single-btn-cont {
                width: 120px;
                height: 45px;

                &:first-child {
                  margin-right: 10px;
                }

                .mybtn {
                  width: 100%;
                  height: 100%;

                }

                .mat-stroked-button {
                  border-color: color(primary);
                }
              }

            }
          }

        }
      }
    }

  }
}