<!-- splash screen -->
<app-routing-loading-screen></app-routing-loading-screen>


<section class="prescolaire-sect">
  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink text-uppercase">Education </span>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink text-uppercase">Le programme de préscolaire oeuvre</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons"></app-pages-slogons>

  <main class="prescomain">
    <div class="titlecontainer">
      <div class="title d-flex flex-row align-items-center">
        <span class="number">01</span>
        <h1 class="text-uppercase">Le programme de préscolaire oeuvre</h1>
      </div>
    </div>

    <!-- Articles -->
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3 class="text-uppercase">présentation</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <p class="paragraph">
            L'éducation préscolaire joue un role important dans le développment de l'enfant car elle va <span
              class="blue-text">déterminer les caractéristique de la personne en devenir.</span> Elle s'exerce pendant
            une période de la vie où des compétences de base et des aptitudes à l'autonome sont établies. Des recherches
            ont montré que les compétences de base et les aptitudes à l'autonomie dépendent de la façon dont le cerveau
            se développe. <span class="blue-text"> L'architecture du cerveau se détermine pendant la petite enfance et
              les expériences que l'enfant fait pendant cette phase</span> contribue à son développement en construisant
            ses capacités élémentaires.
          </p>
          <p>Le programme préscolaire de l'association Al Jisr oeuvre depuis sa création à <span class="blue-text">la
              réduction des inégalités dans l'accés à une éducation de base de qualité,</span> afin de garantir aux
            enfants les meilleures conditions d'éveil et d'apprentissage, <span class="blue-text">et d'augmenter le taux
              de la réussite scolaire dans les milieux défavorisés conformément à la vision stratégique de la réforme
              2015-2030,</span> qui insiste sur l'importance de l'enseignement préscolaire comme levier de la reforme de
            l'éducation. 40% des enfants de 4-6 ans, soit 458.000, n'ont fréquenté aucun établissement préscolaire en
            2012 - 2013. Aujourd'hui, le taux national de préscolarisation n'est que 59,7% avec une offre préscolaire
            limitée et inégalement répartie en quantité et en qualité sure le territoire national.</p>

        </div>
      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row-reverse  align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase reverse-rect">
            <h3 class="text-uppercase">nos objectifs</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <div class="pr-5 paragraph">
            <p>
              Grace à la mobilisation de tous, Al Jisr a <span class="blue-text"> poursuivi sa dynamique d'extension du
                préscolaire
                à travers son modèle préscolaire</span>
            </p>



          </div>
        </div>
      </div>
    </article>





  </main>


</section>
