<section class="events">
  <div
    class="container events-cont p-1 pt-5 d-flex flex-column flex-sm-column flex-md-row  justify-content-center">

    <div class="events-details-container">

      <app-events-details [event]="selectedItem"></app-events-details>

      <div class="liner d-flex justify-content-end align-items-end">
        <div class="liner-cont">
          <div class="dot"></div>
          <div class="line"></div>
          <div class="rect" id="eventsRectangle"></div>
        </div>
      </div>
    </div>

    <div class="dates d-flex flex-column">
      <mat-radio-group aria-label="Select an option" class="bigRadio">
        <table>

          <tr class="date_container" *ngFor="let item of event" (click)="onSelect(item); changed(item.id) ">

            <td class="check" align="center">
              <mat-radio-button [value]="item.id" color="primary" [checked]="item===selectedItem" #anotherMatRadio></mat-radio-button>
            </td>

            <td class="title_container" [class.selected]="item===selectedItem">
              <h6 class="date">{{item.date | uppercase}}</h6>
              <h2 class="eventstitle">{{item.title | uppercase}}</h2>
            </td>

            <td class="chose_container">
              <img src="../../assets/icons/right-arrow.png">
              <h6 class="text-uppercase">Participer</h6>
            </td>

          </tr>
        </table>
      </mat-radio-group>

    </div>
  </div>
</section>
