<app-hero-section></app-hero-section>

<app-que-soutenons-nous></app-que-soutenons-nous>

<app-il-nous-soutiennent></app-il-nous-soutiennent>

<app-testimonials></app-testimonials>

<app-counter-up-section></app-counter-up-section>

<app-dernieres-nouv></app-dernieres-nouv>

<app-events></app-events>

<app-team-aljisr></app-team-aljisr>

<!-- Que soutiennet-ils section -->
<!-- <app-mycarousel></app-mycarousel>-->



<!-- aljisr en numeros section !!! -->
<!-- 


<app-events></app-events>

<app-trophies></app-trophies>



<app-aljisr-platforms></app-aljisr-platforms>

 -->
 <app-newsletter-section></app-newsletter-section>
