<section class="hero">
  <app-carousel></app-carousel>

  <div class="slogan">
    <h3 class="text-uppercase">Au service de l'école publique<br> depuis 1999</h3>
  </div>
  <div class="lang d-flex flex-row justify-content-center align-items-center ">
    <img src="../../assets/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
    <img src="../../assets/place.png"
      matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
      matTooltipPosition="below">
    <form class="Search" [style.display]="isClicked ? 'flex' : 'none'">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search">
      </mat-form-field>
    </form>
    <img src="../../assets/search.png" (click)="clicked()">


    <a href="#">FR /</a>
    <a href="#">EN /</a>
    <a href="#" class="ar"> ع</a>
  </div>

  <div class="slogan2">
    <h1>INSPIRER<br>LES JEUNES<br>HOMMES enquêter</h1>
  </div>

  <div class="benevole">
    <h3>Aidez nous</h3>
    <h1>Bénévole<br>Maintenant</h1>
    <h5>Aider les autres</h5>
  </div>
  <span class="dot"></span>
  <img class="hand" src="../../assets/hand.png">
  <div class="carousel-dots d-flex flex-row">
    <mat-icon id="left_arrow" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon">
      keyboard_arrow_left</mat-icon>
    <div class="dots_container" *ngFor="let item of Images">
      <div class="one-dot"></div>
    </div>

    <mat-icon id="right_arrow" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon">
      keyboard_arrow_right</mat-icon>
  </div>
</section>

<section class="que_setienons_nous">
  <div class="single_row d-flex flex-column justify-content-center align-items-center">
    <div class="title">
      <h1>Que soutienons nous ?</h1>
    </div>

    <div
      class="cards_container d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row flex-wrap justify-content-center align-items-center">
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <img src="../../../assets/internet.png">
        <h3>DEVELOPEMENT DURABLE</h3>
        <p>Lorem ipsum dolor sit am adipiscing
          elit, sed do eiusmod tempor
          incididunt</p>
      </div>
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <img src="../../../assets/open-book.png">
        <h3>FORMATION</h3>
        <p>Lorem ipsum dolor sit am adipiscing
          elit, sed do eiusmod tempor
          incididunt</p>
      </div>
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <img src="../../../assets/file.png">
        <h3>EDUCATION</h3>
        <p>Lorem ipsum dolor sit am adipiscing
          elit, sed do eiusmod tempor
          incididunt</p>
      </div>
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <img src="../../../assets/solar-energy.png">
        <h3>Progrès social et innovation</h3>
        <p>Lorem ipsum dolor sit am adipiscing
          elit, sed do eiusmod tempor
          incididunt</p>
      </div>
    </div>
  </div>
</section>
<app-mycarousel></app-mycarousel>
 <!-- aljisr en numeros section !!! -->
<app-counter-up-section></app-counter-up-section>

<section class="dernieres_nouvelles mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="title_container mb-5 mt-4">
      <h1>dernières nouvelles</h1>
    </div>
  </div>
</section>

<app-events></app-events>