<app-hero-section></app-hero-section>

<app-que-soutenons-nous></app-que-soutenons-nous>

<!-- Que soutiennet-ils section -->
<app-mycarousel></app-mycarousel>
<!-- 
<app-testimonials></app-testimonials> -->

<!-- aljisr en numeros section !!! -->
<app-counter-up-section></app-counter-up-section>

<app-dernieres-nouv></app-dernieres-nouv>

<app-events></app-events>

<!-- <app-team-aljisr></app-team-aljisr> -->

<app-aljisr-platforms></app-aljisr-platforms>

<app-newsletter-section></app-newsletter-section>
