@import "../../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #1592E6;
  bottom: 46%;
  left: -33%;
}

%line2 {
  content: "";
  position: absolute;
  background-color: #1592E6;
  height: 100%;
  width: 3%;
  bottom: 0%;
  left: -22%;
}


.hero {
  position: relative;

  .slogan {
    position: absolute;
    top: 26%;
    left: 7%;

    h3 {
      position: relative;
      color: white;
      font-size: 1vw;
      font-family: $font-family;
      letter-spacing: 3px;
      font-weight: bold;

      &::before {
        content: "";
        position: absolute;
        background-color: white;
        height: 2px;
        width: 21%;
        top: -30%;
      }
    }
  }

  .slogan2 {
    position: absolute;
    top: 50%;
    left: 7%;
    color: white;
    display: none;

    h1 {
      text-transform: uppercase;
      font-family: $font-family;
      font-weight: bold;
      font-size: 5vw;
    }
  }

  .benevole {
    position: absolute;
    right: 3%;
    top: 51%;
    color: white;
    font-family: $font-family;
    font-weight: 100;

    h3 {
      font-size: 2vw;
    }

    h1 {
      font-size: 3.5vw;
      text-transform: uppercase;
      font-weight: 600;
    }

    h5 {
      text-transform: uppercase;
      font-size: 1vw;
      letter-spacing: 3px;
    }
  }

  .dot {
    position: absolute;
    top: 49%;
    right: 27%;
    background-color: $primary-color;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
  }

  .hand {
    position: absolute;
    width: 2.4vw;
    top: 51.6%;
    right: 29.4%;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }

  // .carousel-dots{
  //   position: absolute;
  //   top: 74%;
  //   right: 14.2%;
  //   .dots_container{
  //     .one-dot{
  //       cursor: pointer;
  //       background-color: white;
  //       width: 10px;
  //       height: 10px;
  //       margin:8.5px;
  //       border-radius: 50%;
  //       margin: 8.5px 5px;
  //     }
  //     .active-dot{
  //       background-color: $primary-color;
  //     }
  //   }
  //   mat-icon{
  //     cursor: pointer;
  //     color: white;
  //     font-size: 28px;
  //     font-weight: 100;
  //   }
  //   #left_arrow{
  //     margin-right: 3px !important;
  //   }
  // }

  .lang {
    position: absolute;
    top: 2%;
    right: 8%;

    a {
      padding-left: 4px;
      font-family: $font-family;
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
    }

    //.ar {}

    img {
      width: 20px;
      filter: brightness(100%);
      -webkit-filter: brightness(100%);
      margin-right: 15px;
      cursor: pointer;

    }

    form {
      margin-right: 10px;
      height: 1vw;
      transition: display 1s;
    }

  }

  clip-path: polygon(0 0, 100% 0, 153% 100%, 0 84%);

}

.que_setienons_nous {
  .single_row {
    .title {
      font-family: $font-family;
      color: $primary-color;
      position: relative;

      h1 {
        font-size: 25px;
        font-weight: 600;
      }

      &::before {
        @extend %line;
      }
    }

    .cards_container {
      margin-top: 38px;

      .card {
        margin: 0.3rem;
        padding: 5rem 3rem;
        color: $dark-grey;
        width: 40%;
        border: none;

        img {
          width: 47px;
        }

        h3 {
          font-size: 20px;
          font-style: italic;
          font-weight: 600;
          text-transform: uppercase;
          margin-top: 27px;
        }

        p {
          font-size: 20px;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }
}


//aljisr en numéros section !! compo


// dernieres nouvelles section !!!
.dernieres_nouvelles {
  position: relative;
  font-family: $font-family;
  height: 450px;

  .title_container {
    position: relative;

    h1 {
      color: $primary-color;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}





@media screen and (min-width:650px) {
  .hero .slogan2 {
    display: flex;
  }
}

@media screen and (max-width:650px) {
  .hero .slogan h3 {
    padding-top: 4px;
    font-size: 1.1vw;
    letter-spacing: 1px;
  }

  .hero .benevole {
    right: 3%;
    top: 51%;

    h3 {
      font-size: 3vw;
    }

    h1 {
      font-size: 4.5vw;
    }

    h5 {
      font-size: 1.5vw;
      letter-spacing: 1px;
    }
  }

  .hero .dot {
    top: 49%;
    right: 33%;
    width: 9vw;
    height: 9vw;
  }

  .hero .hand {
    width: 3.4vw;
    top: 51.6%;
    right: 35.7%;
  }

  .hero .lang img {
    width: 3vw;
  }

  .hero .lang a {
    font-size: 2.5vw;
  }
}
