<!-- Splash screen-->
<app-routing-loading-screen></app-routing-loading-screen>

<section class="projet-amal">
  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink">Pole Education & parrainage</span>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink">Bibiliobus</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons"></app-pages-slogons>


  <!-- Section title -->
  <div class="titlecontainer">
    <div class="title d-flex flex-row align-items-center">
      <span class="number">01</span>
      <h1 class="text-uppercase">présentation de bibliobus</h1>
    </div>
  </div>


  <div class="amal-container">
    <!-- Articles -->
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start mb-5 pb-5">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Programme Amal</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <div class="list-with-dots mt-2 mb-2">
              <p class="item-with-sm-dot mb-0">Le programme AMALE développé par <span class="blue-text">l’association Al
                  Jisr</span>, en partenariat avec <span class="blue-text">l’ANDEPM</span> et avec l’appui de l’ESITH,
                vise principalement le renforcement <span class="blue-text">des capacités de gouvernance interne des
                  écoles primaires publiques</span>, à travers un dispositif mis en en place par le Ministère
                del’Education Nationale : <span class="blue-text">le Projet d’Etablissement (PE)</span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </article>
  </div>

  <div class="amal-container p-0">

    <article>
      <div
        class="article-container d-flex flex-column flex-md-row-reverse align-items-start mb-5 pb-5 spec-article-container">

        <!-- Blue rect -->
        <div class="left-rect reverse-rect spec-left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Objectifs du projet</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md spec-text-container">
          <p class="paragraph pr-5">
            Contribuer au renforcement de l’école publique pour créer un environnement propice au
            développement de l’élève
          </p>
          <div class="paragraph pr-5">
            <p class="list-item"><span class="Listnumber">1</span> Renforcer les compétences managériales de directeurs
              (-trices)
            </p>
            <p class="list-item"><span class="Listnumber">2</span> Améliorer les méthodes d’apprentissage et les
              performances d’animation des enseignants
            </p>
            <p class="list-item"><span class="Listnumber">3</span> Renforcer le lien parent-enfant et communautaire
              autour de l’école
            </p>
          </div>
        </div>

      </div>
    </article>
  </div>

  <div class="amal-container mt-3">
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start mb-5 pb-5">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Localisation du projet
            </h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <div class="list-with-dots mt-2 mb-2">
              <p class="item-with-sm-dot mb-0">Le projet cible la région du Grand Casablanca et plus précisément 3
                écoles primaires par Directions provinciales de l’Education Nationale du Grand Casablanca, soit au total
                33
                écoles pour les 11 délégations provinciales de la région
              </p>
            </div>
          </div>
        </div>

      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row-reverse align-items-start mb-5 pb-5">

        <!-- Blue rect -->
        <div class="left-rect reverse-rect">
          <div class="blue-rect text-uppercase">
            <h3>La solution proposée
            </h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph pr-5">
            <div class="schema-container d-flex flex-column">
              <div class="schema-item d-flex flex-column flex-md-row justify-content-around">
                <div class="schema-dot-container">
                  <p>33 directeurs</p>
                </div>
                <div class="schema-text-container">
                  <p>
                    Identifications de 33 directeurs(-trices) par l’ANDEPM et de leurs besoins par un cabinet
                    d’expertise (focus groupe)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </article>
  </div>

</section>