<!-- Splash screen-->
<app-routing-loading-screen></app-routing-loading-screen>

<section class="projet-amal">
  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink">Education</span>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink">Amal</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons"></app-pages-slogons>


  <!-- Section title -->
  <div class="titlecontainer mt-4">
    <div class="title d-flex flex-row align-items-center">
      <span class="number">01</span>
      <h1 class="text-uppercase">présentation de bibliobus</h1>
    </div>
  </div>


  <div class="amal-container">
    <!-- Articles -->
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start mb-5 pb-5">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Programme Amal</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <div class="list-with-dots mt-2 mb-2">
              <p class="item-with-sm-dot mb-0">Le programme AMALE développé par <span class="blue-text">l’association Al
                  Jisr</span>, en partenariat avec <span class="blue-text">l’ANDEPM</span> et avec l’appui de l’ESITH,
                vise principalement le renforcement <span class="blue-text">des capacités de gouvernance interne des
                  écoles primaires publiques</span>, à travers un dispositif mis en en place par le Ministère
                del’Education Nationale : <span class="blue-text">le Projet d’Etablissement (PE)</span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </article>
  </div>

  <div class="amal-container p-0">

    <article>
      <div
        class="article-container d-flex flex-column flex-md-row-reverse align-items-start mb-5 pb-5 spec-article-container">

        <!-- Blue rect -->
        <div class="left-rect reverse-rect spec-left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Objectifs du projet</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md spec-text-container">
          <p class="paragraph pr-5">
            Contribuer au renforcement de l’école publique pour créer un environnement propice au
            développement de l’élève
          </p>
          <div class="paragraph pr-5">
            <p class="list-item"><span class="Listnumber">1</span> Renforcer les compétences managériales de directeurs
              (-trices)
            </p>
            <p class="list-item"><span class="Listnumber">2</span> Améliorer les méthodes d’apprentissage et les
              performances d’animation des enseignants
            </p>
            <p class="list-item"><span class="Listnumber">3</span> Renforcer le lien parent-enfant et communautaire
              autour de l’école
            </p>
          </div>
        </div>

      </div>
    </article>
  </div>

  <div class="amal-container mt-3">
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start mb-5 pb-5">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Localisation du projet
            </h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <div class="list-with-dots mt-2 mb-2">
              <p class="item-with-sm-dot mb-0">Le projet cible la région du Grand Casablanca et plus précisément 3
                écoles primaires par Directions provinciales de l’Education Nationale du Grand Casablanca, soit au total
                33
                écoles pour les 11 délégations provinciales de la région
              </p>
            </div>
          </div>
        </div>

      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-lg-row-reverse align-items-start mb-5 pb-5">

        <!-- Blue rect -->
        <div class="left-rect reverse-rect left-lg-rect">
          <div class="blue-rect text-uppercase">
            <h3>La solution proposée
            </h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-lg">
          <div class="paragraph pr-5">

            <div class="schema-container d-flex flex-column">

              <div
                class="schema-item d-flex flex-column flex-sm-row justify-content-around align-items-center align-items-sm-start">

                <div class="schema-dot-container">
                  <div class="schema-dot">
                    <p>33 directeurs</p>
                    <div class="column-line" style="height: 442%;"></div>
                  </div>
                  <div class="row-line"></div>
                </div>

                <div class="schema-text-container">
                  <div class="list-with-dots mt-2 mb-2">
                    <p class="item-with-sm-dot mb-0">Le projet cible la région du Grand Casablanca et plus précisément 3
                      écoles primaires par Directions provinciales de l’Education Nationale du Grand Casablanca, soit au
                      total
                      33
                      écoles pour les 11 délégations provinciales de la région
                    </p>
                    <p class="item-with-sm-dot mb-0"> Elaboration de plans de formations spécifiques
                    </p>
                    <p class="item-with-sm-dot mb-0"> Actions de formations auprès des directeurs d’établissements selon
                      l’approche « learning by doing »
                    </p>
                    <p class="item-with-sm-dot mb-0"> Implémentation des activités du PE ;
                    </p>
                    <p class="item-with-sm-dot mb-0"> Organisation de séminaires thématiques annuels de réflexions
                      autour du rôle du PE dans la nouvelle vision 2015-2030
                    </p>
                    <p class="item-with-sm-dot mb-0"> Autonomisation et labélisation des 3 meilleurs PE
                    </p>

                  </div>
                </div>
              </div>

              <div
                class="schema-item d-flex flex-column flex-sm-row justify-content-around align-items-center align-items-sm-start">

                <div class="schema-dot-container">
                  <div class="schema-dot">
                    <p>250 enseignants</p>
                    <div class="column-line" style="height: 315%;"></div>
                  </div>
                  <div class="row-line"></div>

                </div>

                <div class="schema-text-container">
                  <div class="list-with-dots mt-2 mb-2">
                    <p class="item-with-sm-dot mb-0">Accompagnement des enseignants des 4ème, 5ème et 6ème années aux
                      nouvelles méthodologies d’apprentissage :journées de coaching ;
                    </p>
                    <p class="item-with-sm-dot mb-0">Renforcement des capacités d’animation : mise en place d’un projet
                      de classe sur l’année scolaire – les meilleurs projets seront récompensés lors d’une cérémonie ;
                    </p>
                    <p class="item-with-sm-dot mb-0">Organisation d’ateliers de partage ;
                    </p>
                    <p class="item-with-sm-dot mb-0">Organisation d’activités parascolaires pour 3 établissements
                    </p>
                  </div>
                </div>
              </div>

              <div
                class="schema-item d-flex flex-column flex-sm-row justify-content-around align-items-center align-items-sm-start">

                <div class="schema-dot-container">
                  <div class="schema-dot">
                    <p>parents d'élèves</p>
                    <div class="column-line" style="height: 255%; max-height:265px;"></div>
                  </div>
                  <div class="row-line"></div>

                </div>

                <div class="schema-text-container">
                  <div class="list-with-dots mt-2 mb-2">
                    <p class="item-with-sm-dot mb-0">Implication et engagement des parents dans le
                      de leurs enfants, à travers des journées de
                      partage
                    </p>
                    <p class="item-with-sm-dot mb-0">Ateliers à la communication non violente pour les parents
                    </p>
                    <p class="item-with-sm-dot mb-0">Ateliers thématiques pour les enfants : lecture, peinture
                      ,sciences
                    </p>
                    <p class="item-with-sm-dot mb-0">Ateliers à partager : jardinage, cleaning ...
                    </p>
                  </div>
                </div>
              </div>

              <div
                class="schema-item d-flex flex-column flex-sm-row justify-content-around align-items-center align-items-sm-start">
                <div class="schema-dot-container">
                  <div class="schema-dot">
                    <p>10000
                      élèves</p>
                  </div>
                  <div class="row-line"></div>
                </div>

                <div class="schema-text-container">
                  <div class="list-with-dots mt-2 mb-2">
                    <p class="item-with-sm-dot mb-0">Organisation de journées portes ouvertes annuelles en
                      parallèle des fêtes d’écoles : les élèves y présenteront leurs écoles et les projets de classe
                      qu’ils ont menés durant l’année
                    </p>
                    <p class="item-with-sm-dot mb-0">Redonner à l’école sa place au cœur de la communauté
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start mb-5 pb-5">

        <!-- Blue rect -->
        <div class="left-rect reverse-rect">
          <div class="blue-rect text-uppercase">
            <h3>Les résultats attendus

            </h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <div class="list-with-dots mt-2 mb-2">
              <p class="item-with-sm-dot mb-0">Les écoles sont mieux gouvernées, plus attractives et autonomes pour la
                réalisation de leurs
                objectifs
              </p>
              <p class="item-with-sm-dot mb-0">Les équipes pédagogiques ont tous les outils en main pour améliorer les indicateurs scolaires
              </p>
              <p class="item-with-sm-dot mb-0">L’école n’est plus isolée. Elle retrouve sa place au centre de la communauté.
              </p>
              <p class="item-with-sm-dot mb-0">Les parents ont un rôle clé dans l’éducation de leurs enfants
              </p>
              <p class="item-with-sm-dot mb-0">L’élève développe la créativité, l’autonomie, l’ingéniosité et une vision positive de lui-même.
              </p>
              <p class="item-with-sm-dot mb-0">L’élève devient un entrepreneur de sa vie, un citoyen engagé, actif et positif pour lui-même et pour la société.
              </p>
            </div>
          </div>
        </div>

      </div>
    </article>
  </div>

</section>