@import '../../../variables.scss';

.inscription {
  background: $primary-color;
  color: white;
  font-family: $font-family;
  padding-bottom: 23px;
}

.lang-ins {

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
