<section class="events">
  <div
    class="container p-1 pt-5 d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row justify-content-center">

    <app-events-details [event]="selectedItem" [firstPost]="firstPost"></app-events-details>

    <div class="dates d-flex flex-column">
      <mat-radio-group aria-label="Select an option" class="bigRadio">
        <table>

          <tr class="date_container" *ngFor="let item of event" (click)="onSelect(item)">

            <td class="check" align="center">
              <mat-radio-button [value]="item.id" color="primary" [checked]="item===selectedItem"></mat-radio-button>
            </td>

            <td class="title_container" [class.selected]="item===selectedItem">
              <h6 class="date">{{item.date | uppercase}}</h6>
              <h2 class="title">{{item.title | uppercase}}</h2>
            </td>

            <td class="chose_container">
              <img src="../../assets/icons/right-arrow.png">
              <h6 class="text-uppercase">Participer</h6>
            </td>

          </tr>
        </table>
      </mat-radio-group>
      <div class="d-flex flex-row align-items-center justify-content-center mb-5 voir-tous">
        <p class="pr-2">voir tout</p>
        <img class="arrow-right" src="../../../assets/icons/right-arrow-blue.png" alt="voir tout">
      </div>
    </div>
  </div>
</section>
