<section class="events">
  <div
    class="container p-5 d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row justify-content-center">
    <div class="description">
      <h1 class="text-uppercase">événements<br> à venir</h1>
      <p class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem perferendis sit
        voluptatibus suscipit
        autem ex optio! Minus reiciendis nihil earum? Ducimus officia, officiis minima velit aliquid ratione sint ipsum.
      </p>
    </div>
    <div class="dates d-flex flex-column">
      <table border="2">
        <tr class="date_container">
          <td class="check" align="center">
            <mat-radio-group aria-label="Select an option" class="smallRadio">
              <mat-radio-button value="1" color="primary"></mat-radio-button>
            </mat-radio-group>
          </td>
          <td class="title_container">
            <h6 class="date">02 may</h6>
            <h2 class="title">Lorem ipsum dolor sit amet consectetur</h2>
          </td>
          <td class="chose_container">
              <img src="../../assets/right-arrow.png">
              <h6>Participer</h6>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>