@import '../../variables.scss';
@import '../../mediaqueries.scss';

.aljisr-platforms-section {
  .aljisr-platforms-wrapper {
    .aljisr-description-wrapper {
      background-color: color(background-grey-bold);

      .aljisr-description-container {
        p {
          padding: 3rem 9rem;
          margin: 0;
          font-family: $font-family;
          font-size: 16px;
          font-weight: 500;
          color: color(ara-grey-bold);

          @include tablet {
            padding: 5vw 6vw;
          }
          @include tablet-sm{
            padding: 7vw 10vw;
            font-size: 13px;
          }
        }
      }
    }

    .aljisr-platforms-container-desktop {
      @include tablet {
        display: none;
      }

      padding-bottom: 6rem;
      background-color: color(background-grey-bold);

      .aljisr-platforms-primary-bg {
        background-color: color(primary);
        width: 100%;
        height: 367px;
        display: flex;
        padding-top: 4rem;
        padding-left: 10rem;

        @include laptop-breakpoint {
          padding-left: 9vw;
        }

        .image-background {
          flex: 1;
          width: 50%;
          height: 100%;
          background-image: url('../../assets/aljisrplatforms.png');
          background-size: auto;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;

          .top-col {
            position: absolute;
            right: 0;
            top: 0;

            .transparent-div {
              flex: 1;
              width: 50px;
              height: 50px;
            }

            .nos-plateforms {
              flex: 1;
              width: 240px;
              height: 100px;
              background-color: #32373d;

              h1 {
                color: white;
                font-family: $paragraph-font;
                font-weight: bolder;
                font-size: 18px;
                padding: 20px;
              }
            }
          }

          .middle-col {
            position: absolute;
            top: 100px;
            right: 0;

            .quotes {
              background-color: color(primary);
              width: 250px;
              height: 210px;
              display: flex;
              justify-content: center;
              align-items: center;

              h1 {
                color: color(reverse);
                font-size: 18px;
                font-family: $paragraph-font;
                font-weight: bolder;
              }
            }
          }

          .bottom-col {
            position: absolute;
            top: 302.8px;
            right: 0;

            .associatifs,
            .parents {
              background-color: color(reverse);
              padding: 50.5px 76.4px;
              position: relative;

              a {
                position: absolute;
                top: 20px;
                left: 20px;
                text-decoration: none;
                color: black;
                font-family: $paragraph-font;
                font-weight: bolder;
                font-size: 16px;

              }
            }
          }
        }

      }

      .grey-background {
        flex: 1;
        width: 50%;
        height: 100%;
        background-color: color(background-grey-bold);
        position: relative;

        .left-row {
          position: absolute;
          left: 0;
          top: 0;

          .team-aljisr,
          .benevoles,
          .partenaires,
          .educateurs {
            background-color: white;
            padding: 50.5px 75px;
            position: relative;

            a {
              position: absolute;
              top: 20px;
              left: 20px;
              text-decoration: none;
              color: black;
              font-family: $paragraph-font;
              font-weight: bolder;
              font-size: 16px;
            }
          }

          .team-aljisr {

            background-color: color(primary);

            a {
              color: color(reverse);
            }
          }
        }

        .right-row {
          position: absolute;
          left: 150px;
          top: 75px;

          @include laptop-breakpoint {
            right: 29px;
          }

          .contact {
            width: 176px;
            background-color: #32373d;
            padding: 2rem 0rem;

            h4 {
              padding-top: 1rem;
              padding-left: 1rem;
              width: 78%;
              color: color(reverse);
              font-size: 12px;
              font-family: $paragraph-font;
              font-weight: 600;

            }

            mat-icon {
              color: white;
              font-size: 32px;
              padding: 1rem;
              padding-bottom: 3rem;
            }

            .phone-number {
              color: color(reverse);
              font-size: 20px;
              font-family: $paragraph-font;
              font-weight: bolder;
              width: 55%;
              padding-left: 1rem;
            }
          }
        }
      }

    }

    .aljisr-platforms-container-mobile{
      display: none;
      @include tablet{
        display: unset;
      }
      background-color: color(background-grey-bold);
      .plat-opening{
        background-color: color(primary);
        padding: 2rem;
        margin: 0vw 6vw;
        h1{
          font-size: 18px;
          @include mobile-l{
            font-size: 15px;
          }
          font-family: $paragraph-font;
          font-weight: bolder;
          text-align: center;
          color: color(reverse);
        }
      }
      .plat-container{
        margin: 0vw 5.6vw;
        .single-col {
          background-color: color(reverse);
          .plat{
            position: relative;
            width: 50%;
            height: 30vw;
            border-right: 2px solid color(background-grey-bold);
            border-bottom: 2px solid color(background-grey-bold);
            a{
              position: absolute;
              top: 35%;
              left: 8%;
              text-decoration: none;
              color: black;
              font-family: $paragraph-font;
              font-weight: bolder;
              font-size: 17px;
              @include mobile-l{
                font-size: 3.5vw;
              }
            }
            img{
              @include mobile-l{
                width: 5vw;
                height: 5vw;
              }
            }
          }
        }
      }
    }
  }
}

