<section class="aljisr-platforms-section">
    <div class="aljisr-platforms-wrapper">
        <div class="title d-flex flex-row align-items-center">
            <span class="number">09</span>
            <h1 class="text-uppercase">{{title}}</h1>
        </div>
        <div class="aljisr-description-wrapper">
            <div class="aljisr-description-container">
                <p>{{description}}</p>
            </div>
        </div>
        <div class="aljisr-platforms-container-desktop">
            <div class="aljisr-platforms-primary-bg">
                <div class="image-background d-flex flex-column">
                    <div class="top-col d-flex flex-row">
                        <div class="transparent-div"></div>
                        <div class="nos-plateforms d-flex justify-content-center align-items-center">
                            <h1>Nos plateforms</h1>
                        </div>
                    </div>
                    <div class="middle-col">
                        <div class="quotes">
                            <h1 style="white-space: pre-line;">{{currentQuote}}</h1>
                        </div>
                    </div>
                    <div class="bottom-col d-flex flex-row">
                        <div class="plat associatifs">
                            <a href="">Associatifs</a>
                            <img src="../../assets/icons/right-arrow-white.png"
                                style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                        </div>
                        <div class="plat parents">
                            <a href="">Parents</a>
                            <img src="../../assets/icons/right-arrow-white.png"
                                style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                        </div>
                    </div>
                </div>
                <div class="grey-background">
                    <div class="left-row d-flex flex-column">
                        <div class="plat educateurs">
                            <a href="">educateurs</a>
                            <img src="../../assets/icons/right-arrow-white.png"
                                style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                        </div>
                        <div class="plat partenaires">
                            <a href="">partenaires</a>
                            <img src="../../assets/icons/right-arrow-white.png"
                                style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                        </div>
                        <div class="plat benevoles">
                            <a href="">benevoles</a>
                            <img src="../../assets/icons/right-arrow-white.png"
                                style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                        </div>
                        <div class="plat team-aljisr">
                            <a href="">team-aljisr</a>
                            <img src="../../assets/icons/right-arrow-white.png"
                                style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                        </div>
                    </div>
                    <div class="right-row">
                        <div class="contact d-flex flex-column justify-content-center">
                            <h4>Avez-vous des question? appelez</h4>
                            <mat-icon class="material-icons" aria-label="Example phone icon">call</mat-icon>
                            <p class="phone-number">+212 522 980 136</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="aljisr-platforms-container-mobile">
            <div class="plat-opening">
                <h1>Nos plateforms</h1>
            </div>

            <div class="plat-container d-flex flex-column">
                <div class="single-col d-flex flex-row">
                    <div class="plat">
                        <a href="">educateurs</a>
                        <img src="../../assets/icons/right-arrow-white.png"
                            style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                    </div>
                    <div class="plat">
                        <a href="">partenaires</a>
                        <img src="../../assets/icons/right-arrow-white.png"
                            style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                    </div>
                </div>
                <div class="single-col d-flex flex-row">
                    <div class="plat">
                        <a href="">bénévole</a>
                        <img src="../../assets/icons/right-arrow-white.png"
                            style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                    </div>
                    <div class="plat">
                        <a href="">associatifs</a>
                        <img src="../../assets/icons/right-arrow-white.png"
                            style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                    </div>
                </div>
                <div class="single-col d-flex flex-row">
                    <div class="plat">
                        <a href="">parents</a>
                        <img src="../../assets/icons/right-arrow-white.png"
                            style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                    </div>
                    <div class="plat">
                        <a href="">team-aljisr</a>
                        <img src="../../assets/icons/right-arrow-white.png"
                            style="-webkit-filter: invert(100%); filter: invert(100%);  width: 25px; height: 20px; position: absolute; bottom: 15px; right: 25px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>