<section class="ilsNousSoutiennent">
  <div class="container">
    <div class="title d-flex flex-row align-items-center">
      <span class="number">02</span>
      <h1 class="text-uppercase">Ils nous soutiennent</h1>
    </div>
  </div>
  <div class="bg-dots d-flex">
    <img src="../../assets/ils-nous-soutiennent/Bubbles.png">
  </div>
  <div class="rendez-vous-solidaires">
    <h1>Rendez -vous solidaires</h1>
  </div>
  <div class="ilsNousSoutiennent-right-row d-flex flex-row">
    <div class="left-row">
      <ul class="list-cont">
        <li><a href="">Eduaction</a></li>
        <li><a href="">Formation</a></li>
        <li><a href="">Environnement</a></li>
        <li><a href="">Innovation</a></li>
      </ul>
    </div>
    <div class="right-row">
      <p>Parrainez une ou plusieurs écoles publiques en participant à nos programmes</p>
      <div class="faire-un-dont" id="checker" (mouseenter)="checked()" (mouseleave)="checknt()">
        <div class="checker">
          <div class="checker-cont" id="checker-cont">
            <div class="checker-dot" id="check-dot"></div>
          </div>
        </div>
        <a href="" id="checker-text">Faire un don</a>
      </div>
    </div>
  </div>
</section>