<section class="ilsNousSoutiennent">
  <div class="container">
    <div class="title d-flex flex-row align-items-center">
      <span class="number">02</span>
      <h1 class="text-uppercase">Ils nous soutiennent</h1>
    </div>
  </div>
  <div class="bg-dots d-flex" style="background-image: url('../../assets/ils-nous-soutiennent/Bubbles.png'); background-repeat: repeat; width: 100%; height:218px ;">
  </div>
  <div class="rendez-vous-solidaires">
    <h1>Rendez -vous solidaires</h1>
  </div>
  <div class="ilsNousSoutiennent-right-row d-flex flex-row">
    <div class="left-row">
      <ul class="list-cont">
        <li><a href="">Eduaction</a></li>
        <li><a href="">Formation</a></li>
        <li><a href="">Environnement</a></li>
        <li><a href="">Innovation</a></li>
      </ul>
    </div>
    <app-check-card paragraph="Parrainez une ou plusieurs écoles publiques en participant à nos programmes" btnText="Faire un don"></app-check-card>
  </div>
</section>