@import '../../variables.scss';
@import '../../needs.scss';
@import '../../extends.scss';

.ilsNousSoutiennent {
  position: relative;
  padding-bottom: 60px;

  .container {
    .title {
      padding-bottom: 28px;

      h1 {
        position: relative;
        z-index: 2;
      }
    }
  }

  .rendez-vous-solidaires {
    background-color: color(primary);
    color: color(reverse);

    h1 {
      font-size: 18px;
      padding: 33px 116px;
      font-family: $paragraph-font;
      font-weight: bold;
    }
  }

  .ilsNousSoutiennent-right-row {
    width: 728px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 65px;

    .left-row {
      background-color: color(background-grey-bold);
      padding-top: 100px;

      .list-cont {
        list-style-type: none;
        padding-left: 0;

        li {
          border-bottom: 2px solid color(primary);
          padding-bottom: 18px;
          padding-right: 140px;
          margin-left: 36px;
          margin-bottom: 30px;

          a {
            color: color(primary);
            font-size: 16px;
            font-family: $paragraph-font;
            font-weight: bolder;
            text-decoration: none;

          }
        }
      }
    }
  }
}
