<section class="hero">
    <app-carousel></app-carousel>
  
    <div class="slogan">
      <h3 class="text-uppercase" style="white-space: pre-line;">{{currentSlogon}}</h3>
    </div>
    <div class="lang d-flex flex-row justify-content-center align-items-center ">
      <img src="../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below">
      <app-search [style.display]="isClicked ? 'flex' : 'none'"></app-search>
      <img src="../../assets/icons/search.png" (click)="clicked()">
      <a href="#">FR /</a>
      <a href="#">EN /</a>
      <a href="#" class="ar"> ع</a>
    </div>
  
    <div class="slogan2">
      <h1>INSPIRER<br>LES JEUNES<br>à enquêter</h1>
    </div>
  
    <div class="benevole">
      <h3>Aidez nous</h3>
      <h1>Bénévole<br>Maintenant</h1>
      <h5>Aider les autres</h5>
    </div>
    <span class="dot"></span>
    <img class="hand" src="../../assets/icons/hand.png">
    <div class="carousel-dots d-flex flex-row">
      <mat-icon id="left_arrow" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon">
        keyboard_arrow_left</mat-icon>
      <div class="dots_container" *ngFor="let item of Images">
        <div class="one-dot"></div>
      </div>
  
      <mat-icon id="right_arrow" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon">
        keyboard_arrow_right</mat-icon>
    </div>
  </section>
  