@import "../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 20%;
  height: 3px;
  background-color: #1592E6;
  bottom: 68%;
  left: 0%;
}

.description {
  width: 100%;
  margin-right: 10rem;

  h1 {
    color: $primary-color;
    font-size: 24px;
    position: relative;
    margin-bottom: 1.5rem;
    padding-left: 8rem;
    width: 100%;
    margin-right: 0rem;

    &::before {
      @extend %line;
    }
  }

  p {
    color: $dark-grey;
  }
}



@media screen and (max-width:768px) {

  .description {
    h1 {
      font-size: 20px;
      padding-left: 10rem;
    }
    p{
      font-size: 0.8rem;
    }
  }
}

  @media screen and (max-width: 576px) {
    .description {
      h1 {
        font-size: 17px;
      }
      p{
        font-size: 0.7rem;
      }
    }
  }
