<div class="description">
  <div class="container">
    <div class="title d-flex flex-row align-items-center">
      <span class="number">04</span>
      <h1 class="text-uppercase">événements</h1>
    </div>
  </div>
  <p class="text-left pr-5 " *ngIf="firstPost">{{firstPost.description}}</p>
  <p class="text-left pr-5 " *ngIf="event">{{event.description}}</p>
  <div class="liner d-flex justify-content-end align-items-end">
    <div class="liner-cont">
        <div class="dot"></div>
        <div class="line"></div>
        <div class="rect" id="rectangle"></div>
    </div>
</div>
</div>