@import "../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #1592E6;
  bottom: 46%;
  left: -33%;
}

%line2 {
  content: "";
  position: absolute;
  background-color: #1592E6;
  height: 100%;
  padding-right: 1.5px;
  bottom: 0%;
  left: -22%;
}

.dernieres_nouvelles {
  position: relative;
  font-family: $font-family;
  padding-bottom: 0;

  .title_container {
    position: relative;
    color: $primary-color;
    text-transform: uppercase;

    h1 {
      font-size: 25px;
      font-weight: 600;

      &::before {
        @extend %line;
      }
    }


  }

  .arrow-right {
    width: 30px;
    height: 25px;
  }

  .purple-sect {
    background-color: $purple-rain;
  }

  .green-sect {
    background-color: $green;
  }

  .blue-sect {
    background-color: $blue-jisr;

  }
}
