<section class="dernieres_nouvelles mt-5">
  <div class="d-flex justify-content-center">
    <div class="title_container mb-5 mt-4">
      <h1>dernières nouvelles</h1>
    </div>
  </div>
  <div class="d-flex justify-content-center title_container mb-5">
    <p class="pr-2">voir tout</p>
    <img class="arrow-right" src="../../../assets/right-arrow-blue.png" alt="voir tout">
  </div>
  <div class="container-fluid p-0">
    <div class="d-flex">
      <div class=" w-50"><img class="img-fluid mw-100" src="../../assets/hero2.jpg" alt=""></div>
      <div class=" w-50 text-white purple-sect d-flex align-items-center">
        <p>Cérémonie de bénévolat</p>
        <p class="pr-2">Lire la suite</p>
        <img class="arrow-right" src="../../../assets/right-arrow-white.png" alt="lire la suite">
      </div>
    </div>
    <div class="d-flex">
      <div class=" w-50 text-white green-sect">
        <p>Atelier de formation greenship</p>
        <p class="pr-2">Lire la suite</p>
        <img class="arrow-right" src="../../../assets/right-arrow-white.png" alt="lire la suite">
      </div>
      <div class="w-50"><img class="img-fluid mw-100" src="../../assets/hero2.jpg" alt=""></div>
    </div>
    <div class="d-flex">
      <div class=" w-50"><img class="img-fluid mw-100" src="../../assets/hero2.jpg" alt=""></div>
      <div class=" w-50 text-white blue-sect">
        <p>Atelier de formation C2C</p>
        <p class="pr-2">Lire la suite</p>
        <img class="arrow-right" src="../../../assets/right-arrow-white.png" alt="lire la suite">
      </div>
    </div>

  </div>
</section>
