@import "../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #1592E6;
  bottom: 46%;
  left: -33%;
}

.title_container {
  position: relative;
  color: $primary-color;
  text-transform: uppercase;
  cursor: pointer;

  h1 {
    font-size: 25px;
    font-weight: 600;

    &::before {
      @extend %line;
    }
  }
}

.arrow-right {
  width: 30px;
  height: 25px;
}

.text-cont {
  color: white;

  p {
    font-size: 30px;
    padding-bottom: 1rem;
  }

  .lire-suite-cont {
    cursor: pointer;

    p {
      margin: 0;
      letter-spacing: 5px;
      font-size: 15px;
      padding-top: 11px;
    }
  }
}

@media screen and (max-width:768px) {
  .title_container {  
    h1 {
      font-size: 20px; 
      &::before {
        bottom: 48%;
      }
    }
  }
  .text-cont {
    p {
      font-size: 20px;
      padding-bottom: 1rem;
    }

    .lire-suite-cont {
      p {
        letter-spacing: 3px;
        font-size: 12px;
      }
    }
  }
  .image{
    height:300px !important;
  }
  .color{
    height: 300px !important;
  }
}

@media (max-width: 576px) {
  .title_container {  
    h1 {
      font-size: 13px; 
    }
    p{
      font-size: 12px;
    }
  }
  .text-cont {
    padding: 15px;

    p {
      font-size: 16px;
      padding-bottom: 1rem;
    }

    .lire-suite-cont {
      p {
        letter-spacing: 2px;
        font-size: 10px;
      }
    }
  }

  .arrow-right {
    width: 20px;
    height: 15px;
  }

  .image {
    height: 200px !important;
  }

  .color {
    height: 200px !important;
  }

}
