@import '../../../variables.scss';
@import '../../../pagesflag.scss';
@import '../../../mediaqueries.scss';


.notre-vocation {
  background-color: #F2F6F7;


  .mot-du-prez {
    background-color: #ffffff;
    padding: 5rem 3rem 12rem 3rem;
    font-family: $font-family;


    .presi-title {
      color: color(primary);
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid color(primary);
        width: 5rem;
        height: 4rem;
        z-index: -1;
        right: 0;
        top: 30px;
        left: 35rem;
      }

      h6 {
        padding-bottom: 20px;
      }

      h3 {
        position: relative;
        font-weight: 800;
        font-family: $paragraph-font;
        font-size: 40px;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          background-color: #F2F6F7;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          z-index: -1;
          left: -11px;
          top: -9px;
        }

        &::after {
          content: "";
          position: absolute;
          background-color: #F2F6F7;
          width: 5rem;
          height: 4rem;
          z-index: -1;
          right: 0;
          top: -4px;
          left: 33.5rem;
        }

      }
    }

    .prez {
      color: color(primary);
      font-weight: 600;
    }
  }
}
