<!-- Splash screen-->
<app-routing-loading-screen></app-routing-loading-screen>

<section class="Mot-de-president pb-5">

  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink">Al jisr</span> 
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink">Mot du président</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons" ></app-pages-slogons>

  <div class="mot-du-prez mr-5 ml-5 mb-5">
    <div class="presi-title pb-5">
      <h6>Mot du président</h6>
      <h3>Ensemble préparons l'avenir</h3>
    </div>

    <p class="pb-5">
      <b>Message de Mohamed Lahlou Président -</b> Tous les acteurs socio-économiques conviennent de la nécessité
      d'améliorer les performances du système éducatif de
      notre pays pour faire face aux défis du 21ème siècle.
      L’Éducation constitue un enjeu majeur pour le développement du Maroc, de ce fait, elle a été solennellement érigée
      en deuxième priorité nationale après l’intégrité territoriale. <br><br>

      La charte nationale d’éducation et de formation promulguée en octobre 1999 préconise l’importance de l’ouverture
      de l’École publique sur son environnement.
      Les entreprises privées au Maroc de par leurs compétence et savoir-faire constituent une force de progrès à même
      de contribuer à la mise à niveau des établissements scolaires et à la formation de ressources humaines en
      adéquation avec les besoins du marché.
      Favoriser la qualité et la pertinence du système éducatif marocain grâce à l’implication et l’engagement des
      acteurs économiques est le défi qu’a décidé de relever l’Association Al Jisr. <br><br>

      Créée en 1999, l’association Al Jisr qui a l’insigne privilège d’être placée sous la Présidence d’honneur de Sa
      Majesté le Roi Mohammed VI et qui bénéficie de la Reconnaissance d’Utilité Publique se fixe pour mission de
      contribuer à la sensibilisation et à la mobilisation des entreprises privées pour leur implication dans
      l’éducation à travers le parrainage d’établissements scolaires. <br><br>

      Les réalisations obtenues grâce à l’adhésion et l’implication de nos entreprises partenaires nous ont permis de
      nourrir de plus grandes ambitions pour les années à venir.
      Parmi les chantiers majeurs des cinq prochaines années, Al Jisr a inscrit la régionalisation comme un axe de
      développement majeur conformément au projet de régionalisation avancée du pays ainsi que la mise en place du
      système de suivi et de monitoring afin de mesurer concrètement l’impact de nos activités. <br><br>

      Je remercie les membres du Conseil d’Administration et nos partenaires pour leur engagement, leur implication et
      leur soutien.
      Mes remerciements vont aussi à l’équipe permanente qui assume la mission ambitieuse de l’association avec
      enthousiasme et sérieux.
    </p>

    <p class="prez"> Mohamed Lahlou <br>
      Président
    </p>


  </div>
</section>