@import '../../../variables.scss';
@import '../../../pagesflag.scss';
@import '../../../mediaqueries.scss';


.Mot-de-president {
  background-color: #F2F6F7;

  .mot-du-prez {
    background-color: #ffffff;
    padding: 5rem 3rem 12rem 3rem;
    font-family: $font-family;


    .presi-title {
      color: color(primary);
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid color(primary);
        width: 5rem;
        height: 4rem;
        z-index: -1;
        right: 0;
        top: 30px;
        left: 35rem;

        @include laptop-breakpoint {
          left: 28rem;
        }

        @include tablet {
          left: 23rem;
          top: 18px;
        }

        @include tablet-sm {
          display: none;
        }
      }

      h6 {
        font-size: 16px;
        font-family: $font-family;
        color: color(primary);
        padding-bottom: 25px;
        font-weight: 600;

        @include laptop-breakpoint {
          font-size: 14px;
        }
      }

      h3 {
        position: relative;
        font-weight: 600;
        font-family: $paragraph-font;
        font-size: 40px;
        z-index: 1;

        @include laptop-breakpoint {
          font-size: 32px;
        }

        @include tablet {
          font-size: 26px;
        }

        &::before {
          content: "";
          position: absolute;
          background-color: #F2F6F7;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          z-index: -1;
          left: -11px;
          top: -9px;

        }

        &::after {
          content: "";
          position: absolute;
          background-color: #F2F6F7;
          width: 5rem;
          height: 4rem;
          z-index: -1;
          right: 0;
          top: -4px;
          left: 33.5rem;

          @include laptop-breakpoint {
            left: 26.5rem;
          }

          @include tablet {
            left: 21.5rem;
            top: -18px;
          }

          @include tablet-sm {
            display: none;
          }
        }

      }
    }

    p {
      line-height: 32px;
      font-family: $font-family;
      font-size: 16px;

      @include laptop-breakpoint {
        font-size: 14px;
      }

      @include tablet {
        font-size: 13px;
      }
    }

    .prez {
      color: color(primary);
      font-family: $font-family;
      font-weight: 600;

      @include laptop-breakpoint {
        font-size: 13px;
      }
    }
  }
}

