<mat-toolbar>Menu</mat-toolbar>
<div *ngFor="let item of Menu">
  <mat-expansion-panel *ngIf="item.subtitle.length>1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.title.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let subitem of item.subtitle" class="sublink mb-3">
      <a href="{{subitem.link}}">{{subitem.name}}</a>
    </div>
  </mat-expansion-panel>
  <!-- <div *ngIf="item.subtitle.length<1">  
  </div> -->
</div>
<div *ngFor="let item of Menu" class="othercards">
    <mat-card *ngIf="item.subtitle.length<1">
        <mat-card-title>
            <a href="{{item.title.link}}">{{item.title.name}}</a>
        </mat-card-title>
      </mat-card>
</div>
