@import '../../variables.scss';
@import '../../mediaqueries.scss';

%login-style {
  font-size: 11px;
  text-decoration: none;
}

.account {
  text-align: center;
  cursor: pointer;

  #phone_menu {
    font-size: 32px;

    @include tablet-sm {
      font-size: 28px;
    }

    color: color(primary);
    margin-right: 9px;

    @include tablet-sm {
      margin-right: 5px;
    }
    margin-bottom: 5px;
  }

  .seconnecter {
    @extend %login-style;
    background-color: white;
    color: color(primary) !important;
    font-weight: bold;

  }
}




.login-modal {
  .modal-content {
    border: none !important;
    border-radius: unset !important;
  }

  .modal-content .modal-body {
    padding: 0 !important;

    .close {
      position: absolute;
      right: 15px;
      top: 10px;
      color: color(primary);
      opacity: 1;
      font-size: 2.8vw;
      font-weight: 400;
    }

    .container {
      .left-row {
        background-image: url('../../assets/login-pic.jpg');
        background-size: cover;
        background-position: center;
        position: relative;

        .filter {
          position: absolute;
          width: 100% !important;
          height: 100% !important;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: color(primary);
          opacity: 0.92;
        }

        .red-cont {
          position: absolute;
          z-index: 2;
          top: 40%;
          left: 20%;
          color: white;

          h1 {
            font-size: 2.8vw;
            font-weight: 600;
          }

          .sinscrire-field {
            a {
              color: white;
              font-family: $font-family;
              font-weight: 100;
              font-size: 11px;
            }

            .mat-button {
              background-color: white;
              color: color(primary);
              font-weight: 600;
              font-family: $font-family;
              font-size: 12px;
              margin-left: 15px;
            }
          }

        }
      }

      .right-row {
        .login-forms-container {
          img {
            padding-top: 110px;
            padding-bottom: 60px;
          }

          // input 
          .mat-form-field {
            width: 27vw;
            padding-bottom: 15px;
          }

          .mat-form-field-empty.mat-form-field-label {
            color: color(primary);
          }


          .mat-form-field-infix {
            border: 0;
          }

          .mat-form-field-appearance-legacy .mat-form-field-label {
            color: black;
            font-size: 13px;
            padding-left: 10px;
            padding-bottom: 0px;
            font-style: italic;
            font-style: unset;
          }

          .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon {
            width: 1.4em;
            position: relative;
            top: 5px;
          }

          .mat-form-field-label-wrapper {
            top: -9px;
          }

          .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            color: color(primary);
          }

        }

        .mat-button {
          background-color: color(primary);
          color: white;
          font-weight: 600;
          font-family: $font-family;
          margin-top: 20px;
        }

        a {
          color: grey;
          font-size: 13px;
          padding: 15px;
          margin-bottom: 30px;
        }
      }
    }
  }

}

@media screen and (max-width:650px) {
  .seconnecter {
    display: none !important;
  }
}
