<section class="aljisr_en_numero" id="countup_sec">
  <div class="d-flex justify-content-center align-items-center">
    <div class="title_container mt-5 mb-5 mt-4">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="container" id="counter">
    <div class="row mb-4">

      <div class="col-md-4 d-flex justify-content-center" *ngFor="let section of countSections">
        <div class="increm_text mr-4">{{section.title}}</div>
        <p class="increm_num counter" [attr.data-count]="section.countend">0</p>
      </div>

    </div>
  </div>
</section>
