@import "../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #1592E6;
  bottom: 46%;
  left: -33%;
}

%line2 {
  content: "";
  position: absolute;
  background-color: #1592E6;
  height: 100%;
  padding-right: 1.5px;
  bottom: 0%;
  left: -22%;
}


.aljisr_en_numero {
  background-color: $background-grey;
  // position: relative;
  font-family: $font-family;
  padding-bottom: 4rem;

  .title_container {

    position: relative;

    h1 {
      color: $primary-color;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;

      &::before {
        @extend %line;
      }
    }
  }

  .increm_text {
    color: gray;
    text-transform: uppercase;
    font-size: 16px;
    width: 8rem;
  }

  .increm_num {
    color: $primary-color;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    width: 88px;

    &::before {
      @extend %line2;
    }
  }
}


@media screen and (max-width:768px) {

  .aljisr_en_numero {
    .title_container{
      h1{
        font-size: 20px;
      }
    }
    .increm_text{
      font-size: 13px;
    }
    .increm_num {
      font-size: 26px;
    }
  }
}
@media screen and (max-width: 576px) {
  .aljisr_en_numero {
    .title_container{
      h1{
        font-size: 17px;
      }
    }
    .increm_text{
      font-size: 10px;
    }
    .increm_num {
      font-size: 20px;
    }
  }
}