<section class="aljisr_en_numero">
  <div class="d-flex justify-content-center align-items-center">
    <div class="title_container mb-5 mt-4">
      <h1>Aljisr en numéros</h1>
    </div>
  </div>
  <div class="container" id="counter">
    <div class="row mb-5">
      <div class="col-md-4 d-flex align-items">
        <div class="increm_text mr-4">Anneé de fondation</div>
        <p class="increm_num">{{num1}}</p>
      </div>
      <div class="col-md-4 d-flex align-items">
        <div class="increm_text mr-4">projets achevés</div>
        <p class="increm_num">60</p>
      </div>
      <div class="col-md-4 d-flex align-items">
        <div class=" increm_text mr-4">Projets en cours</div>
        <p class="increm_num ">130</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4 d-flex align-items">
        <div class="increm_text mr-4">nombre de volontaires</div>
        <p class="increm_num">200</p>
      </div>
      <div class="col-md-4 d-flex align-items">
        <div class="increm_text mr-4">villes touchées</div>
        <p class="increm_num">13</p>
      </div>
      <div class="col-md-4 d-flex align-items">
        <div class="increm_text mr-4">nombre de partenaires</div>
        <p class="increm_num">42</p>
      </div>
    </div>
  </div>
</section>
