@import '../../../variables.scss';
@import '../../../pagesflag.scss';
@import '../../../mediaqueries.scss';
@import '../../../extends.scss';


.learn-to-act {

  .titlecontainer {
    .title {
      margin-left: 5vw;

      .number {
        @extend %number;

        &::before {
          background-color: color(primary);
        }

        @include laptop {
          font-size: 100px !important;
        }

        @include tablet {
          font-size: 80px !important;
        }

        @include mobile-l {
          font-size: 70px !important;
        }
      }

      h1 {
        font-family: $font-family;
        font-size: 22px;
        font-weight: bold;
        color: color(primary);

        @include laptop {
          font-size: 18px;
        }

        @include tablet {
          font-size: 16px !important;
        }

        @include mobile-l {
          font-size: 12px !important;
        }
      }
    }
  }

  .lta-container {
    padding: 0 5%;

    article {
      .article-container {
        padding: 30px 20px;

        .left-rect {
          width: 800px;

          @include tablet {
            width: 68%;
            margin-bottom: 87px;
          }

          @include mobile-l {
            width: 80%;
          }

          @include mobile-sm {
            width: 100%;
          }

          .blue-rect {
            padding: 50px 30px;
            margin-right: 40px;
            position: relative;
            background-color: color(primary);

            &::before {
              content: "";
              position: absolute;
              z-index: -1;
              top: -21px;
              left: -20px;
              width: 100%;
              height: 130%;
              background-color: white;
              border: 2px solid black;
            }

            h3 {
              color: color(reverse);
              text-align: left;
              position: relative;
              font-size: 21px;

              @include tablet {
                font-size: 17px;
              }

              @include mobile-l {
                font-size: 15px;
              }

              &::before {
                content: "";
                position: absolute;
                left: 3px;
                bottom: -10px;
                height: 2px;
                width: 45%;
                border-bottom: 2px dashed white;
              }
            }
          }

          .reverse-rect {
            &::before {
              left: 20px;
            }
          }
        }

        .text-container {
          width: 224%;

          @include tablet {
            width: 100%;
          }

          .paragraph {
            font-size: 17px;
            line-height: 30px;

            @include tablet {
              font-size: 15px;
              line-height: 26px;
            }

            @include mobile-l {
              font-size: 13px;
              padding-right: 1rem !important;
            }

            font-family: $font-family;
            position: relative;
            bottom: 25px;

            .blue-text {
              color: color(primary);
            }
          }

          .list-item {

            margin-bottom: 7px;

            .Listnumber {
              background-color: color(primary);
              color: color(reverse);
              border-radius: 50%;
              font-size: 13px;
              padding: 0px 5px;
              margin-right: 10px;
              position: relative;
              bottom: .8px;
            }
          }
        }
      }

      .time-lapse-container {
        position: relative;

        .doted-line {
          position: absolute;
          top: 20%;
          left: 13%;
          width: 71%;
          height: 2px;
          border-bottom: 3px dashed color(primary);

          @include tablet {
            display: none;
          }
        }

        section {
          margin: 0% 3%;
          @include tablet{
            margin: 3%;
          }
          position: relative;

          p {
            color: color(primary);
            font-family: $font-family;
            font-weight: 600;
            font-size: 18px;
            @include tablet{
                font-size: 16px;
            }
            @include mobile-md{
                font-size: 14px;
            }
          }

          .year {
            margin-bottom: 11rem;
            font-size: 22px;
          }

          .spec-year {
            position: relative;
            bottom: 1rem;
          }

          .dot {
            position: absolute;
            top: 17%;
          }

          .sm-dot {
            width: 20px;
            height: 20px;
            background-color: color(primary);
            border-radius: 50%;
          }

          .md-dot {
            width: 50px;
            height: 50px;
            background-color: color(primary);
            border-radius: 50%;
            top: 12%;
          }

          .lg-dot {
            width: 80px;
            height: 80px;
            background-color: color(primary);
            border-radius: 50%;
            top: 8%;
          }

          .line {
            position: absolute;
            top: 18%;
            left: 50%;
            width: 3px;
            height: 44%;
            background-color: color(primary);
          }
        }
      }
    }
  }
}
