<!-- Loading bar -->
<ng2-slim-loading-bar color="#1592E6" [height]="'3px'"></ng2-slim-loading-bar>
<!-- Splash screen -->
<!-- <app-splash-screen></app-splash-screen> -->

<!-- container -->
<mat-sidenav-container [hasBackdrop]=true>
  <!-- Side nav bar -->
  <mat-sidenav #sidenav mode="over" position="start" [fixedInViewport]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-card>
      <mat-card-title>
        <a routerLink="/home" (click)="sidenav.close()">HOME</a>
      </mat-card-title>
    </mat-card>
    <div *ngFor="let item of Menu">
      <mat-expansion-panel *ngIf="item.subtitle.length>1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.title.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let subitem of item.subtitle" class="sublink mb-3">
          <a routerLink="/{{subitem.link}}" (click)="sidenav.close()">{{subitem.name}}</a>
        </div>
      </mat-expansion-panel>
    </div>

    <!-- Links that doesnt have sulinks -->
    <div *ngFor="let item of Menu" class="othercards">
      <mat-card *ngIf="item.subtitle.length<1">
        <mat-card-title>
          <a routerLink="/{{item.title.link}}">{{item.title.name}}</a>
        </mat-card-title>
      </mat-card>
    </div>

  </mat-sidenav>

  <!-- the main content and where the router shows -->
  <mat-sidenav-content id="body_container">

    <!-- Nav -->
    <!-- Route navbar -->
    <nav class="d-flex justify-content-between flex-direction-row align-items-center" *ngIf="!itsHome">
      <!-- Menu button -->
      <div class="menu ml-3 d-flex justify-content-center align-items-center flex-direction-row">
        <mat-icon id="phone_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon"
          (click)="sidenav.toggle()">menu</mat-icon>

        <a class="text-uppercase" (click)="sidenav.toggle()">Menu</a>

      </div>

      <!-- Logo -->
      <a routerLink="/home"> <img src="../assets/Aljisr_logo.png"></a>

      <!-- Login -->

      <div class="login mr-3">
        <a routerLink="/Inscription" class="sinscrie">S'inscrire</a>
        <app-login></app-login>

        <!-- Mobile Login Version -->
        <div class="account d-flex flex-column justify-content-center align-items-center">
          <mat-icon id="phone_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon">
            account_circle</mat-icon>
          <a href="#">se connecter</a>
        </div>
      </div>

    </nav>

    <!-- Home Navbar -->
    <nav class="homeNav d-flex justify-content-between flex-direction-row align-items-center" *ngIf="itsHome">
        <!-- Menu button -->
        <div class="homeMenu menu ml-3 d-flex justify-content-center align-items-center flex-direction-row">
          <div class="btnContainer">
              <mat-icon id="phone_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon"
              (click)="sidenav.toggle()">menu</mat-icon>
          </div>
  
          <a class="text-uppercase" (click)="sidenav.toggle()">Menu</a>
  
        </div>
  
        <!-- Logo -->
        <a class="homeLogo" routerLink="/home"> <img src="../assets/Aljisr_logo.png"></a>
  
        <!-- Login -->
  
        <!-- <div class="login mr-3">
          <a routerLink="/Inscription" class="sinscrie">S'inscrire</a>
          <app-login></app-login>
   -->
          <!-- Mobile Login Version -->
          <!-- <div class="account d-flex flex-column justify-content-center align-items-center">
            <mat-icon id="phone_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon">
              account_circle</mat-icon>
            <a href="#">se connecter</a>
          </div>
        </div> -->
  
      </nav>


    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>