<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container [hasBackdrop]=true>

  <!-- Side nav bar -->
  <mat-sidenav #sidenav mode="over" position="start" [fixedInViewport]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-card>
      <mat-card-title>
        <a routerLink="/home" (click)="sidenav.close()">HOME</a>
      </mat-card-title>
    </mat-card>
    <div *ngFor="let item of Menu">
      <mat-expansion-panel *ngIf="item.subtitle.length>1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.title.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let subitem of item.subtitle" class="sublink mb-3">
          <a routerLink="/{{subitem.link}}" (click)="sidenav.close()">{{subitem.name}}</a>
        </div>
      </mat-expansion-panel>
    </div>

    <!-- Links that doesnt have sulinks -->
    <div *ngFor="let item of Menu" class="othercards">
      <mat-card *ngIf="item.subtitle.length<1">
        <mat-card-title>
          <a routerLink="/{{item.title.link}}">{{item.title.name}}</a>
        </mat-card-title>
      </mat-card>
    </div>

  </mat-sidenav>

  <!-- the main content and where the router shows -->
  <mat-sidenav-content id="body_container">

    <!-- Nav -->
    <nav class="d-flex justify-content-between flex-direction-row align-items-center">

      <!-- Menu button -->
      <div class="menu ml-3 d-flex justify-content-center align-items-center flex-direction-row">
        <mat-icon id="phone_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon"
          (click)="sidenav.toggle()">menu</mat-icon>
        <mat-icon id="desktop_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon"
          (click)="menuToggle()">menu
        </mat-icon>
        <mat-icon id="closed_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon"
          (click)="menuToggle()">close
        </mat-icon>
        <!-- <img id="" src="../assets/close.png" (click)="menuToggle()"> -->

        <a class="text-uppercase" (click)="menuToggle()">Menu</a>
      </div>

      <!-- Logo -->
      <a routerLink = "/home" (click)="chckMenu()"> <img src="../assets/Aljisr_logo.png"></a>

      <!-- Login -->
      <div class="login mr-3">
        <a href="#" class="sinscrie">S'inscrire</a>
        <a href="#" class="seconnecter">Se connecter</a>

        <!-- Mobile Login Version -->
        <div class="account d-flex flex-column justify-content-center align-items-center">
          <mat-icon id="phone_menu" class="menuIcon mr-3" aria-hidden="false" aria-label="Example home icon">
            account_circle</mat-icon>
          <a href="#">se connecter</a>
        </div>
      </div>

      <!-- Desktop menu -->
      <div id="desktop_menu_container">
        <!-- single row  -->
        <div class="single_row d-flex flex-row flex-wrap">
          <!-- Each link row -->
          <div class="link_row" *ngFor="let item of Menu">
            <!-- main link -->
            <div class="link">
              <a href="#">{{item.title.name}}</a>
            </div>
            <!-- sublinks -->
            <div class="sub_link" *ngFor="let subitem of item.subtitle">
              <a routerLink="/{{subitem.link}}" (click)="menuToggle()">{{subitem.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <router-outlet></router-outlet>

    <footer>
      <p>This is a test</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>