@import "../variables.scss";



//scroll background 
*::-webkit-scrollbar {
  width: 10px !important;
  background-color: white !important;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: $primary-color !important;
  border-radius: 10px !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: $primary-color !important;
}

.noscroll {
  &::-webkit-scrollbar {
    width: 0px !important;
    background-color: $lite-primary-color !important;
  }
}

%login-style {
  border: 1px solid $primary-color;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

%not-selectibale {
  // set text not selectibale
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

mat-sidenav-container {
  height: 100%;
  background-color: white;

  mat-sidenav {
    width: 60%;
  }

  mat-sidenav-content {
    nav {
      .menu {
        @extend %not-selectibale;

        #desktop_menu {
          display: none;
        }

        .menuIcon {
          font-size: 32px;
        }

        mat-icon {

          cursor: pointer;

        }

        // .rotate {
        //   -webkit-animation: spin .2s linear;
        //   -moz-animation: spin .2s linear;
        //   animation: spin .2s linear;
        // }

        #closed_menu {
          display: none;
        }

        a {
          display: none;
          font-size: 14px;
          text-decoration: none;
          font-family: $font-family;
          padding-top: 12px;
          color: black;
          cursor: pointer;
          @extend %not-selectibale;

          &:hover {
            color: black;
          }
        }
      }

      a{
        img {
          margin-left: 7rem;
          padding: 16px 0px;
          width: 67px;
          @extend %not-selectibale;
        }
      }

      .login {
        @extend %not-selectibale;

        .sinscrie {
          @extend %login-style;
          padding: 3px 20px;
          color: $primary-color;

        }
        .account {
          display: none !important;

          mat-icon {
            font-size: 36px;
            color: black;
            margin-bottom: 10px;
          }

          a {
            text-decoration: none;
            color: black;
            font-size: 14px;
          }
        }
      }

      #desktop_menu_container {
        background-color: white;
        overflow: auto;
        height: calc(100vh);
        width: 100%;
        display: none;
        opacity: 0;
        transition: opacity 0.5s;
        position: fixed;
        z-index: 2;
        top: 75px;
        right: 0;
        left: 0;
        bottom: 0;
        @extend %not-selectibale;

        .single_row {
          max-height: 100%;
          overflow: auto;
          margin-left: 100px;
          margin-right: 5px;
          margin-top: 40px;
          margin-bottom: 40px;

          .link_row {
            width: 25%;
            padding-bottom: 40px;
            padding-left: 27.5px;
            border-left: 2px solid $light-grey;

            .link {
              padding-bottom: 27px;
              position: relative;

              a {
                font-size: 19px;
                font-family: $font-family;
                text-transform: uppercase;
                color: $dark-blue;
                font-weight: 600;
              }

              &::before {
                content: "";
                position: absolute;
                bottom: 20px;
                left: -28px;
                width: 30%;
                height: 2px;
                background-color: $light-grey;


              }
            }

            .sub_link {

              a {
                font-size: 12px;
                font-family: $secondary-font;
                font-style: italic;
                color: $dark-blue;
              }
            }
          }
        }
      }
    }
  }
}


mat-toolbar {
  font-family: 'Open Sans';
  text-transform: uppercase;
  background-color: white;
  border-bottom: 1px solid #3498DB;
  color: #3498DB;
  height: 85px;
  font-size: 18px;
  font-weight: 600;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

mat-card {
  padding: 6px;

  mat-card-title {
    a {
      padding: 0;
      text-decoration: none;
      color: black;
      font-family: "Roboto", "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-left: 19px;

      &:focus {
        outline: unset !important;
      }
    }
  }
}

footer{
  padding:0;
  margin: 0;
  background-color: #3498DB;
  p{
    margin:0;
  }
}


mat-expansion-panel {
  mat-expansion-panel-header {
    mat-panel-title {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .sublink {
    margin-left: 10px;
    text-transform: uppercase;

    a {
      color: black;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.othercards {
  mat-card {
    padding: 6px;

    mat-card-title {
      a {
        padding: 0;
        text-decoration: none;
        color: black;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 19px;
      }
    }
  }
}




@media screen and (max-width:980px) {
  mat-sidenav-container mat-sidenav-content nav #desktop_menu_container .single_row .link_row .link a {
    font-size: 14px;
  }

  mat-sidenav-container mat-sidenav-content nav #desktop_menu_container .single_row .link_row .sub_link a {
    font-size: 9px;
  }

}

@media screen and (max-width:750px) {
  mat-sidenav-container mat-sidenav-content nav #desktop_menu_container .single_row .link_row {
    width: 33%;
  }

  mat-sidenav-container mat-sidenav-content nav #desktop_menu_container .single_row .link_row .link a {
    font-size: 16px;
  }

  mat-sidenav-container mat-sidenav-content nav #desktop_menu_container .single_row .link_row .sub_link a {
    font-size: 11px;
  }

}

//Media Queries
@media screen and (min-width:650px) {
  mat-sidenav-container mat-sidenav-content nav .menu #phone_menu {
    display: none !important;
  }

  mat-sidenav-container mat-sidenav-content nav .menu a {
    display: flex;
  }

  mat-sidenav-container mat-sidenav-content nav .menu #desktop_menu {
    display: flex;
  }
}

@media screen and (max-width:650px) {
  mat-sidenav-container mat-sidenav-content nav .menu #desktop_menu {
    display: none !important;
  }

  mat-sidenav-container mat-sidenav-content nav .menu #phone_menu {
    font-size: 25px !important;
    margin-top: 5px;
  }

  mat-sidenav-container mat-sidenav-content nav a img {
    width: 9vw;
  }

  mat-sidenav-container mat-sidenav-content nav .login .account mat-icon {
    font-size: 31px;
    margin-bottom: 6px;
  }

  mat-sidenav-container mat-sidenav-content nav .login .account a {
    font-size: 11px;
    ;
  }

  mat-sidenav-container mat-sidenav-content nav .login {

    .sinscrie {
      display: none !important;
    }
  }

  mat-sidenav-container mat-sidenav-content nav .menu #closed_menu {
    display: none;
  }

  mat-sidenav-container mat-sidenav-content nav .login {
    .account {
      display: flex !important;
    }
  }

  mat-sidenav-container mat-sidenav-content nav a img {
    margin-left: 0;
  }

}

@media screen and (max-width:450px) {
  mat-sidenav-container mat-sidenav-content nav a img {
    width: 11vw;
  }
  mat-sidenav-container mat-sidenav-content nav .login {
    .account {
      mat-icon{
        font-size: 25px;
        margin-bottom: 0px;
        margin-top: 5px; 
        margin-left: 7px;
      }
    }
  }
}

