@import "../variables.scss";

*::-webkit-scrollbar {
  width: 10px !important;
  background-color: $lite-primary-color !important;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: $primary-color !important;
  border-radius: 10px !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: $primary-color !important;
}

%login-style {
  border: 1px solid $primary-color;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

mat-sidenav-container {
  height: 100%;
  background-color: white;

  mat-sidenav {
    width: 60%;
  }

  mat-sidenav-content {
    nav {
      background-color: white;

      .menu {
        #desktop_menu {
          display: none;
        }

        .menuIcon {
          font-size: 32px;
        }

        mat-icon {
          cursor: pointer;
        }

        a {
          display: none;
          font-size: 14px;
          text-decoration: none;
          font-family: $font-family;
          padding-top: 12px;
          color: black;

          &:hover {
            color: black;
          }
        }
      }

      img {
        margin-left: 7rem;
        padding: 16px 0px;
        width: 67px;
      }

      .login {
        .sinscrie {
          @extend %login-style;
          padding: 3px 20px;
          color: $primary-color;

        }

        .seconnecter {
          @extend %login-style;
          background-color: $primary-color;
          color: $secondary-color;
          padding: 3px 10px;

        }

        .account {
          display: none !important;

          mat-icon {
            font-size: 36px;
            color: black;
            margin-bottom: 10px;
          }

          a {
            text-decoration: none;
            color: black;
            font-size: 14px;
          }
        }
      }
    }

    .hero {
      position: relative;

      img {
        width: 100%;
        height: auto;
        -webkit-filter: brightness(60%);
        /* Safari 6.0 - 9.0 */
        filter: brightness(60%);
      }

      .slogan {
        position: absolute;
        top: 26%;
        left: 7%;

        h3 {
          position: relative;
          color: white;
          font-size: 16px;
          font-family: $font-family;

          &::before {
            content: "";
            position: absolute;
            background-color: white;
            height: 2px;
            width: 21%;
            top: -30%;
          }
        }
      }

      .lang {
        position: absolute;
        top: 2%;
        right: 4%;

        a {
          padding-left: 4px;
          font-family: $font-family;
          color: white;
          text-decoration: none;
          font-size: 14px;
        }

        .ar {}

        mat-icon {
          color: white;
          background-color: transparent;
          font-size: 24px;
        }
      }

      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);

    }
  }
}


mat-toolbar {
  font-family: 'Open Sans';
  text-transform: uppercase;
  background-color: white;
  border-bottom: 1px solid #3498DB;
  color: #3498DB;
  height: 85px;
  font-size: 18px;
  font-weight: 600;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

mat-card {
  padding: 6px;
  mat-card-title {
    a {
        padding: 0;
      text-decoration: none;
      color: black;
      font-family: "Roboto", "Helvetica Neue", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-left: 19px;
      &:focus {
        outline: unset !important;
    }
    }
  }
}
mat-expansion-panel {
  mat-expansion-panel-header {
    mat-panel-title {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .sublink {
    margin-left: 10px;
    text-transform: uppercase;

    a {
      color: black;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.othercards {
  mat-card {
    padding: 6px;
    mat-card-title {
      a {
          padding: 0;
        text-decoration: none;
        color: black;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 19px;
      }
    }
  }
}



//Media Queries
@media screen and (min-width:650px) {
  mat-sidenav-container mat-sidenav-content nav .menu #phone_menu {
    display: none;
  }

  mat-sidenav-container mat-sidenav-content nav .menu a {
    display: flex;
  }

  mat-sidenav-container mat-sidenav-content nav .menu #desktop_menu {
    display: flex;
  }
}

@media screen and (max-width:650px) {
  mat-sidenav-container mat-sidenav-content nav .login {

    .sinscrie,
    .seconnecter {
      display: none !important;
    }
  }

  mat-sidenav-container mat-sidenav-content nav .login {
    .account {
      display: flex !important;
    }
  }

  mat-sidenav-container mat-sidenav-content nav img {
    margin-left: 0;
  }

}
