<section class="aljisr-platforms mb-5">
  <div class="single_column m-5 pl-4 pr-4">
    <h1 class="text-uppercase mb-3">My Jisr</h1>
    <p class="p-2">Cette plateforme est principalement à la disposition et au service de tous les acteurs œuvrant à ‘’restaurer’’ et
      améliorer l’éducation prioritaire, fondamentale. Elle donne de la visibilité à leurs actions en valorisant tout ce
      qui s’entreprend, se réalise, ou s’envisage au sein de chaque catégorie d’intervenants. En espace de proximité,
      d’interaction et d’interactivité, elle contribue à la constructivité et à la construction d’un modèle de
      communication, d’information, de traitement, de suivi et de coordination autour des problématiques et des
      exigences de l’éducation.</p>
  </div>
  <div class="platforms-cards-container d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-wrap justify-content-center align-items-center">
    <mat-card *ngFor="let item of platforms" style="width:350px; height:320px;" [style.backgroundImage]="'url('+ item.name +')'" class="m-3">
      <div class="filter" [style.backgroundColor]="item.color"></div>
      <div class="desc-title-container">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
    </mat-card>
  </div>
</section>