<section class="aljisr-platforms-section">
    <div class="aljisr-platforms-wrapper">
        <div class="container">
            <div class="title d-flex flex-row align-items-center">
                <span class="number">09</span>
                <h1 class="text-uppercase">{{title}}</h1>
            </div>
        </div>
        <div class="aljisr-description-wrapper">
            <div class="aljisr-description-container">
                <p>{{description}}</p>
            </div>
        </div>
        <div class="aljisr-platforms-container">
            <div class="aljisr-platforms-primary-bg">
                <div class="image-background d-flex flex-column">
                    <div class="top-col d-flex flex-row">
                        <div class="transparent-div"></div>
                        <div class="nos-plateforms d-flex justify-content-center align-items-center">
                            <h1>Nos plateforms</h1>
                        </div>
                    </div>
                    <div class="middle-col">
                        <div class="quotes">
                            <h1>Qui lit pense <br> Qui pense raisonne</h1>
                        </div>
                    </div>
                    <div class="bottom-col d-flex flex-row">
                        <div class="associatifs">
                            <a href="">Associatifs</a>
                        </div>
                        <div class="parents">
                            <a href="">Parents</a>
                        </div>
                    </div>
                </div>
                <div class="grey-background">
                    <div class="left-row d-flex flex-column">
                        <div class="educateurs">
                            <a href="">educateurs</a>
                        </div>
                        <div class="partenaires">
                            <a href="">partenaires</a>
                        </div>
                        <div class="benevoles">
                            <a href="">benevoles</a>
                        </div>
                        <div class="team-aljisr">
                            <a href="">team-aljisr</a>
                        </div>
                    </div>
                    <div class="right-row">
                        <div class="contact d-flex flex-column justify-content-center">
                            <h4>Avez-vous des question? appelez</h4>
                            <mat-icon class="material-icons" aria-label="Example phone icon">call</mat-icon>
                            <p  class="phone-number">+212 522 980 136</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>