<section class="que-soutiennents-ils">
  <div class="container d-flex flex-column flex-md-row flex-lg-row flex-xl-row pt-5 pb-5">
    <!-- <div class="left-row-container d-flex flex-column">
      <h1>Que soutiennents ils</h1>
      <div class="btns-container">
        <button mat-button id="prevBtn">Prev</button>
        <button mat-button id="nextBtn">Next</button>
      </div>
    </div> -->
    <div class="cards-container d-flex">
      <div class="wraper d-flex">
        <mat-card style="width:268px; height:358px;" id="firstclone">
          test4
        </mat-card>
        <mat-card style="width:268px; height:358px;">
          test1
        </mat-card>
        <mat-card style="width:268px; height:358px;">
          test2
        </mat-card>
        <mat-card style="width:268px; height:358px;">
          test3
        </mat-card>
        <mat-card style="width:268px; height:358px;" id="lastclone">
          test4
        </mat-card>
      </div>
    </div>
  </div>
</section>
