<!-- Splash screen -->
<app-routing-loading-screen></app-routing-loading-screen>

<section class="qui-somme-nous">

  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink">Al jisr</span>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink">Qui sommes nous?</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons"></app-pages-slogons>

  <main>
     <!-- Section title -->
     <div class="titlecontainer">
        <div class="title d-flex flex-row align-items-center">
            <span class="number">01</span>
            <h1 class="text-uppercase">présentation d'aljisr</h1>
        </div>
    </div>



  </main>

</section>