<!-- Splash screen -->
<app-routing-loading-screen></app-routing-loading-screen>

<section class="qui-somme-nous">

  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-3 pl-4 d-flex flex-row justify-content-center align-items-center links">
      <span class="arbreLink">Al jisr</span>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <span class="arbreLink">Qui sommes nous?</span>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-3 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <app-pages-slogons [slogons]="slogons"></app-pages-slogons>

  <main class="mainSection">
    <!-- Section title -->
    <div class="titlecontainer">
      <div class="title d-flex flex-row align-items-center">
        <span class="number">01</span>
        <h1 class="text-uppercase">présentation d'aljisr</h1>
      </div>
    </div>

    <!-- Articles -->
    <article>
      <div class="article-container d-flex flex-column flex-md-row align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Notre mission</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <p class="paragraph">
            Créée en 1999, l’association Al Jisr a l’insigne privilège d’être placée sous la <span
              class="blue-text">Présidence d’honneur de Sa Majesté le Roi Mohammed VI</span> et bénéficie de la <span
              class="blue-text">Reconnaissance d’Utilité Publique depuis 2007</span>. Al Jisr se fixe pour mission de
            contribuer à la sensibilisation et à la mobilisation des entreprises privées pour leur implication dans
            l’éducation à travers le parrainage d’établissements scolaires.<br>
            Cette implication se traduit par un appui multiforme apporté par <span class="blue-text">l’entreprise dans
              le cadre du Comité de gestion de l’école</span> en vue d’assurer une mise à niveau de l’établissement et
            de développer un système de management performant.
          </p>
        </div>
      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row-reverse  align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase reverse-rect">
            <h3>Nos objectifs</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <div class="pr-5 paragraph">
            <p class="list-item"><span class="Listnumber">1</span> Contribuer à l’amélioration des méthodes et des
              conditions d’apprentissage.</p>
            <p class="list-item"><span class="Listnumber">2</span> Ouvrir l’école sur son environnement par
              l’organisation d’activités d’éveil, de rencontres avec les opérateurs économiques, de stages pour les
              élèves et enseignants, etc..</p>
            <p class="list-item"><span class="Listnumber">3</span> Encourager les parents d’élèves, les enfants, les
              enseignants et les ONG à participer à la dynamique de réhabilitation de l’école.</p>
            <p class="list-item"><span class="Listnumber">4</span> Développer une culture d’évaluation des performances
              de l’École.
            </p>

          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row  align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>Originalité de notre demarche</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <p class="mb-0">Al Jisr œuvre à la mobilisation du réseau<span class="blue-text"> entrepreneurial pour son
                implication dans l’éducation</span> en insistant sur les axes transversaux développés par l’association
              : <span class="blue-text">la protection de l’Environnement et l’accès aux NTIC.</span><br>
              Au-delà des <span class="blue-text">investissements matériels et financiers</span> certes nécessaires mais
              sans influence directe sur la pertinence de l'éducation, l'entreprise est sollicitée pour agir :</p>
            <div class="list-with-dots mt-2 mb-2">
              <p class="item-with-big-dot mb-0">En faveur de la qualité de l'école</p>
              <p class="item-with-md-dot mb-0">En apportant son savoir-faire en matière de gestion</p>
              <p class="item-with-sm-dot mb-0">En apportant son savoir-faire en matière de gestion</p>
            </div>
            <p class="mb-0">
              Le partenariat proposé vise un <span class="blue-text">accompagnement durable de l’École</span> dans ses
              efforts de mise à niveau. Un
              accompagnement qui se traduit par la participation à l’élaboration d’un diagnostic de l’établissement
              parrainé, d’un plan d’action annuel et à la mobilisation des ressources humaines et matérielles.
            </p>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="documents-jur">
        <p class="mb-0 text-center">Voir les documents juridiques d'Aljisr<span class="plus">+</span></p>
      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row  align-items-start">
        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase">
            <h3>QUELQUES EXEMPLESDE NOS INTERVENTIONS</h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container text-container-md">
          <div class="paragraph">
            <div class="list-with-rect-and-dots  mt-2 mb-2">
              <p class="item-with-md-dot ">Réhabilitation des établissements scolaires (sanitaire, peinture,
                clôture, puits, électricité, etc.),
              </p>
              <p class="item-with-rect ">Aménagement de terrains de sport, espaces verts</p>
              <p class="item-with-rect">Elargissement et développement des partenariats aux ONG nationales et
                internationales pour l'appui aux écoles,
              </p>
              <p class="item-with-rect">Animation d’activités parascolaires éducatives, culturelles et de
                sensibilisation;
              </p>
              <p class="item-with-rect ">Équipement en Mobiliers, Bibliothèques de classe, Bicyclettes, et Salles
                multimédias
              </p>
              <p class="item-with-rect">Formation du corps pédagogique (informatique, communication, gestion de
                projet, etc..) en vue de contribuer à l'amélioration de la gestion administrative des établissements
                scolaires,
              </p>
              <p class="item-with-rect ">Mise en place ou renforcement d’Infirmeries scolaires, cantines, services
                de gardiennage, d’hygiène et de propreté;
              </p>
              <p class="item-with-rect">Création de classes de préscolaire ;
              </p>
              <p class="item-with-rect ">Organisation de séances de Soutien scolaire;
              </p>
              <p class="item-with-rect">Visites d’entreprise, de musées, classe de voile, etc.
              </p>
            </div>
          </div>
        </div>

      </div>
    </article>

    <article>
      <div class="article-container d-flex flex-column flex-md-row-reverse  align-items-start">

        <!-- Blue rect -->
        <div class="left-rect">
          <div class="blue-rect text-uppercase reverse-rect">
            <h3>PRIX ET DISTINCTIONS
            </h3>
          </div>
        </div>

        <!-- Text Container -->
        <div class="text-container">
          <div class="pr-5 paragraph">
            <div class="list-with-rect-and-dots without-dash  mt-2 mb-2">
              <p class="item-with-rect with-border">Prix de l’Éducation par les Intégrales de l’Investissement en 2006
              </p>
              <p class="item-with-rect with-border">Prix de la journée de la terre en 2010
              </p>
              <p class="item-with-rect with-border">Prix du Réseau des Entreprises maghrébines en 2010
              </p>
              <p class="item-with-rect with-border last-child">Prix WISE pour l’Éducation Innovante décerné par la Qatar
                Fondation en 2011
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="box-cont d-flex justify-content-center align-items-center">
        <div class="box">
          <div class="rect-imp">
            <div class="rect-imp-cont">
              <p class="imp">!</p>
            </div>
          </div>
          <p>
            L’expérience d’Al Jisr offre la vision d’une stratégie concrète permettant aux entreprises marocaines
            d’améliorer leur compétitivité à moyen et long terme grâce à l’amélioration de la qualité des ressources
            humaines à laquelle elles auront elles mêmes contribué.
          </p>
        </div>
      </div>
    </article>

  </main>

</section>