@import '../../../variables.scss';
@import '../../../pagesflag.scss';
@import '../../../mediaqueries.scss';
@import '../../../extends.scss';

.qui-somme-nous {
  main {
    .titlecontainer {
      .title {
        margin-left: 5vw;

        .number {
          @extend %number;

          &::before {
            background-color: color(primary);
          }

          @include laptop {
            font-size: 100px !important;
          }

          @include tablet {
            font-size: 80px !important;
          }

          @include mobile-l {
            font-size: 70px !important;
          }
        }

        h1 {
          font-family: $font-family;
          font-size: 22px;
          font-weight: bold;
          color: color(primary);

          @include laptop {
            font-size: 18px;
          }

          @include tablet {
            font-size: 16px !important;
          }

          @include mobile-l {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}


.mainSection {
  padding: 0 5%;

  article {
    .article-container {
      padding: 30px 20px;

      .left-rect {
        width: 800px;

        @include tablet {
          width: 68%;
          margin-bottom: 87px;
        }

        @include mobile-l {
          width: 80%;
        }
        @include mobile-sm {
          width: 100%;
        }

        .blue-rect {
          padding: 50px 30px;
          margin-right: 40px;
          position: relative;
          background-color: color(primary);

          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -21px;
            left: -20px;
            width: 100%;
            height: 130%;
            background-color: white;
            border: 2px solid black;
          }

          h3 {
            color: color(reverse);
            text-align: left;
            position: relative;
            font-size: 21px;

            @include tablet {
              font-size: 17px;
            }

            @include mobile-l {
              font-size: 15px;
            }

            &::before {
              content: "";
              position: absolute;
              left: 3px;
              bottom: -10px;
              height: 2px;
              width: 45%;
              border-bottom: 2px dashed white;
            }
          }
        }

        .reverse-rect {
          &::before {
            left: 20px;
          }
        }
      }

      .text-container {
        width: 224%;

        @include tablet {
          width: 100%;
        }

        .paragraph {
          font-size: 17px;
          line-height: 30px;

          @include tablet {
            font-size: 15px;
            line-height: 26px;
          }

          @include mobile-l {
            font-size: 13px;
            padding-right: 1rem !important;
          }

          font-family: $font-family;
          position: relative;
          bottom: 25px;

          .blue-text {
            color: color(primary);
          }
        }

        .list-with-dots {
          padding-left: 30px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 65%;
            left: 12px;
            top: 9px;
            border-right: 2px dashed color(primary);
          }

          p {
            position: relative;
          }

          .item-with-big-dot {
            &::before {
              content: "";
              position: absolute;
              left: -25px;
              width: 17px;
              height: 17px;
              top: 6px;
              border-radius: 50%;
              background-color: color(primary);
            }
          }

          .item-with-md-dot {
            &::before {
              content: "";
              position: absolute;
              left: -23px;
              width: 13px;
              height: 13px;
              top: 9px;
              border-radius: 50%;
              background-color: color(primary);
            }
          }

          .item-with-sm-dot {
            &::before {
              content: "";
              position: absolute;
              left: -21px;
              width: 10px;
              height: 10px;
              top: 11px;
              border-radius: 50%;
              background-color: color(primary);

            }
          }
        }

        .without-dash {
          &::before {
            display: none;
          }

          .with-border {
            border: 2px solid color(primary);
            width: 60%;

            @include tablet {
              width: 80%;
            }

            margin-bottom: 0;
            padding-left: 37px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: none;

            &:last-child {
              border-bottom: 2px solid color(primary);
              width: 80%;

              @include tablet {
                width: 100%;
                margin-bottom: 60px;
              }
            }

            &::before {
              left: 13px !important;
              top: 22px !important;
            }
          }
        }

        .list-with-rect-and-dots {
          padding-left: 30px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 96%;
            left: 12px;
            top: 9px;
            border-right: 2px dashed color(primary);
          }

          p {
            position: relative;
            margin-bottom: 17px;
          }

          .item-with-md-dot {
            &::before {
              content: "";
              position: absolute;
              left: -23px;
              width: 13px;
              height: 13px;
              top: 9px;
              border-radius: 50%;
              background-color: color(primary);
            }
          }

          .item-with-rect {
            &::before {
              content: "";
              position: absolute;
              left: -23px;
              width: 13px;
              height: 9px;
              top: 9px;
              background-color: color(primary);
            }
          }

        }

        .list-item {

          margin-bottom: 7px;

          .Listnumber {
            background-color: color(primary);
            color: color(reverse);
            border-radius: 50%;
            font-size: 13px;
            padding: 0px 5px;
            margin-right: 10px;
            position: relative;
            bottom: .8px;
          }
        }
      }

      .text-container-md {
        width: 187%;

        @include tablet {
          width: 100%;
        }
      }
    }

    .documents-jur {
      cursor: pointer;
      background-color: color(primary);
      margin-bottom: 75px;
      padding: 20px 20px;

      p {
        color: color(reverse);
        font-size: 16px;
        font-family: $paragraph-font;
        letter-spacing: 3px;

        @include tablet {
          font-size: 14px;
          letter-spacing: 2px;
        }

        @include mobile-l {
          font-size: 13px;
        }

        font-weight: 600;

        .plus {
          font-weight: 400;
          font-size: 25px;
          background-color: rgb(0, 160, 223);
          border-radius: 50%;
          padding: 2px 11px;
          padding-left: 12px;
          margin-left: 31px;
          position: relative;
          top: 3px;

          @include tablet {
            font-size: 20px;
            padding: 2px 9px;
          }
        }
      }
    }

    .box-cont {
      padding: 6% 23%;
      margin-bottom: 50px;
      @include mobile-l{
        padding: 6% 12%;
      }
      .box {
        position: relative;

        p {
          background-color: color(primary);
          padding: 50px 25px;
          color: color(reverse);
          font-family: $paragraph-font;
          font-size: 16px;
          font-weight: 600;
          @include tablet{
            font-size: 15px;
          }
          @include mobile-l{
            font-size: 13px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 30px;
          left: 18%;
          z-index: -1;
          width: 100%;
          height: 92%;
          border: 2px solid color(primary);
        }

        &::after {
          content: "";
          position: absolute;
          top: -30px;
          left: 70%;
          width: 2px;
          height: 100%;
          border-right: 2px dashed color(primary);
          top: -68px;
          left: 105%;
          z-index: -1;
        }

        .rect-imp {
          position: absolute;
          z-index: -1;
          top: -102px;
          left: 103.5%;
          @include tablet{
            left: 101.5%;
          }
          @include mobile-sm{
            left: 99.5%;
          }
          .rect-imp-cont {
            padding: 1px;
            background-color: color(primary);

            .imp {
              color: color(primary);
              background-color: color(reverse);
              padding: 0px 6px;
              margin: 3px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}






