<section class="qui-sommes-nous">
  <nav class="blue-nav d-flex justify-content-between">
    <div class="pt-4 pl-4 d-flex flex-row justify-content-center align-items-center">
      <div class="text-uppercase">al jisr</div>
      <img src="../../../assets/icons/rounded-arrow.png" alt="tree" width="14" height="14" class="mr-2 ml-2">
      <div class="text-uppercase">présentation d'al jisr</div>
    </div>
    <div class="lang-ins d-flex flex-row justify-content-center align-items-center pt-4 pr-4">
      <img src="../../../assets/icons/phone.png" matTooltip="0522 98 01 36" matTooltipPosition="left">
      <img src="../../../assets/icons/place.png"
        matTooltip="Ecole El Bachiri Garçons, Angle Rue Ahmed kadmiri et Rue Bachir Laâlaj - Cité Plateau - casablanca"
        matTooltipPosition="below" class="mr-2 ml-2">
      <a href="#">FR /</a>
      <a href="#">EN</a>
    </div>
  </nav>

  <div class="hero-flag d-flex">
    <div class="d-flex justify-content-center align-items-center left-side">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas enim ullam voluptatibus quo quasi? Quasi,
        nesciunt. Pariatur harum sapiente laboriosam vero est corporis cumque, recusandae sequi, architecto quia totam
        asperiores!</span>
    </div>
    <div class="right-side">
    </div>
  </div>

  <!-- <div class="titlecontainer title-cont">
    <div class="title d-flex flex-row align-items-center">
      <span class="number">01</span>
      <h1 class="text-uppercase">présentation d'al jisr</h1>
    </div>
  </div> -->

</section>
