@import '../../variables.scss';

.check-card {
    background-color: color(primary);
    padding: 126px 38px;

    p {
      font-family: $paragraph-font;
      color: color(reverse);
      font-size: 27px;
      font-weight: bold;
    }

    .faire-un-dont {
      border: 1px solid color(reverse);
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      width: 80%;
      margin-top: 60px;
      cursor: pointer;
      position: relative;

      .checker {
        width: 25%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border: 1px solid color(reverse);
        border-radius: 30px;

        .checker-cont {
          width: 100%;
          height: 100%;
          background-color: color(reverse);
          position: relative;
          border: 1px solid color(reverse);
          border-radius: 30px;

          .checker-dot {
            width: 70%;
            height: 50%;
            background-color: color(primary);
            border: 1px solid color(reverse);
            border-radius: 30px;
            position: absolute;
            top: 28%;
            left: 5%;

          }
        }
      }

      a {
        font-size: 27px;
        color: color(reverse);
        text-decoration: none;
        font-weight: bold;
        padding: 6px 18px;
        padding-left: 87px;
      }
    }
  }