@import '../../variables.scss';
@import '../../needs.scss';
@import '../../extends.scss';
@import '../../mediaqueries.scss';

.QuiSoutenonsNous {
  .container {
    position: relative;
    padding-bottom: 2rem;
    @include xl-device{
      max-width: 80%;
    }
    .description {
      p {
        font-size: 14px;
        color: color(secondary-bold);
        position: relative;
        top: -30px;
        right: -60px;

        @include laptop{
          font-size: 13px;
          top: -18px;
        }
        @include tablet{
          font-size: 12px;
        }
        @include tablet-sm{
          right: 0;
          top: -10px;
        }
      }
    }

    .cards-container {
      padding: 0px 10vw;
      padding-bottom: 4.5rem;
      @include l-device{
        padding: 0px 2vw;
      }
      @include mobile-l{
        padding: 0px 3vw;
      }
      @include tablet-sm{
        padding: 0px 6vw !important;
      }


      .active {
        background-color: color(primary) !important;
        transition: height .5s;
        @include xl-device{
          height: 440px;
        }
        @include md-device{
          height: 330px;
        }
        @include laptop{
          height: 330px;
        }
        @include tablet{
          height: 260px;
        }
        @include tablet-sm{
          height: 320px;
        }
        .card-cont {
          h1 {
            color: color(reverse) !important;

          }

          p {
            color: color(reverse) !important;
          }
          img{
            top: 90% !important;
            @include tablet{
              top: 81% !important;
            }
            @include tablet-sm{
              top: 74% !important;
            }
          }
        }

      }

      .theCard {
        background-color: color(backround-grey);
        cursor: pointer;
        .card-cont {
          padding: 68px 13px;
          position: relative;
          @include xl-device{
            height: 400px;
          }
          @include md-device{
            height: 290px;
          }
          @include laptop{
            height: 290px;
          }
          @include tablet{
            height: 260px;
          }
          @include tablet-sm{
            height: 320px;
          }

          h1 {
            font-family: $font-family;
            font-weight: bold;
            font-size: 110%;
            color: color(primary);
            margin-bottom: 20px;

            @include md-device{
              
            }

            @include laptop{
              font-size: 100%;
            }
            @include tablet{
              font-size: 75%;
            }
            @include tablet-sm{
              font-size: 100%
            }
            @include mobile-l{
              font-size: 95%
            }

          }

          p {
            font-family: $font-family;
            font-weight: 300;
            color: color(secondary);
            font-size: 12px;
            @include laptop{
              font-size: 72%;
            }
            @include tablet{
              font-size: 60%;
            }
            @include tablet-sm{
              font-size: 80%
            }
            @include mobile-l{
              font-size: 70%
            }

          }

          img {
            position: absolute;
            right: 2%;
            top: 81%;

            @include laptop{
              width: 15%;
            }
            @include tablet-sm{
              width: 10% !important;
            }
          }
        }

      }
    }
    .liner{
      .liner-cont{
        @include tablet-sm{
          right: 30%;
        }
      }
    }
  }
}
