@import "../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #1592E6;
  bottom: 46%;
  left: -33%;
}

.que_setienons_nous {
  .single_row {
    .title {
      font-family: $font-family;
      color: $primary-color;
      position: relative;

      h1 {
        font-size: 25px;
        font-weight: 600;
      }

      &::before {
        @extend %line;
      }
    }

    .cards_container {
      margin-top: 38px;

      .card {
        margin: 0.3rem;
        padding: 5rem 3rem;
        color: $dark-grey;
        width: 40%;
        border: none;
        text-align: center;

        img {
          width: 47px;
        }

        h3 {
          font-size: 20px;
          font-style: italic;
          font-weight: 600;
          text-transform: uppercase;
          margin-top: 27px;
        }

        p {
          font-size: 20px;
          font-style: italic;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .que_setienons_nous .single_row .title h1 {
    font-size: 20px;
  }

  .que_setienons_nous .single_row .cards_container .card {
    padding: 2rem 1rem;

    img {
      width: 32px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }


}

@media (max-width: 576px) {

  .que_setienons_nous .single_row .title h1 {
    font-size: 17px;
  }

  .que_setienons_nous .single_row .cards_container .card {
    padding: 1rem 0rem;
  }

  .que_setienons_nous {
    padding-top: 2rem;
  }
}

@media (max-width: 576px) {
  .que_setienons_nous .single_row .title h1 {
    font-size: 13px;
  }
  .que_setienons_nous .single_row .cards_container {

  }.card {
    img {
      width: 23px;
    }

    h3 {
        font-size: 13px;
        margin: 9px;
    }

    p {
        font-size: 11px;
    }
  }
.que_setienons_nous .single_row .cards_container {
    margin-top: 12px;
}

  
}
