<section class="que_setienons_nous">
  <div class="single_row d-flex flex-column justify-content-center align-items-center">
    <div class="title">
      <h1 class="text-uppercase">Que soutenons nous ?</h1>
    </div>

    <div
      class="cards_container d-flex flex-column flex-sm-row flex-md-row flex-lg-row flex-xl-row flex-wrap justify-content-center align-items-center">

      <div class="card d-flex flex-column justify-content-center align-items-center" *ngFor="let section of sections">
        <img [src]="section.image">
        <h3>{{section.title}}</h3>
        <p>{{section.description}}</p>
      </div>
    </div>
  </div>
</section>
