@import '../../variables.scss';
@import '../../needs.scss';
@import '../../extends.scss';
@import '../../mediaqueries.scss';


.testimonials {
  position: relative;

  .testi-cont {
    width: 100%;
    padding-bottom: 5rem;
    .testi-wrapper {
      padding-left: 60px;

      .liner{
        .liner-cont{
          @include tablet-sm{
            right: 40%;
          }
        }
      }
    }

    .col-8 {
      .title-cont {
        padding-left: 8vw;
      }
    }

    .quotes {
      width: 2.5rem;
      height: 2.5rem;
    }

    p {
      font-family: $font-family;
      color: color(para-grey);
      font-weight: bold;
      font-size: 13px;
      @include tablet-sm{
        font-size: 12px;
      }
      span {
        color: color(primary);
        font-weight: bold;
        font-size: 15px;
        @include tablet-sm{
          font-size: 13px;
        }
      }

      .status {
        font-size: 16px;
        color: #bebebe;
        @include tablet-sm{
          font-size: 13px;
        }
      }

    }

    .testim-checker {
      position: absolute;
      top: -10px;
      right: 0rem;
      width: 425px;
    }


    #checker2 {
      width: 14rem;

    }

  }

  // .blue-shadow {
  //   position: relative;
  //   right: 6px;
  //   bottom: 136px;
  //   z-index: -1;
  //   width: 9rem;
  //   height: 9rem;
  // }



  @media (max-width: 1050px) {
    .check-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      padding: 90px 38px !important;
      .faire-un-dont {
        margin-top: 30px !important;
      }
    }
    .testi-cont {
      display: flex;
      flex-direction: column !important;
      padding-top: 2rem;
      padding-bottom: 0;

      .temoirespo {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        width: 90vw;
      }

      .testi-wrapper {
        padding-left: 0 !important;

        .liner {
          margin-bottom: 36px;
        }
      }

      .radios {
        display: flex;
        flex-direction: row !important;
      }

      .testim-checker {
        position: relative;
        margin-top: 5rem;
        width: 100%;
      }
    }
  }

}

.temoirespo {
  width: 51vw;

  .temoin-para-cont {
    width: 65%;
  }

  .temoicont {
    position: relative;

    &::before {
      content: '';
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: color(primary);
      position: absolute;
      right: 20px;
      top: 23px;
      z-index: -1;
    }
  }
}


//material radio customize
.testimonials {

  .mat-radio-container {
    height: 12px !important;
  }

  .mat-radio-outer-circle {
    box-sizing: border-box !important;
    height: 11px !important;
    transition: border-color ease 280ms;
    width: 11px !important;
    @include tablet-sm{
      width: 9px !important;
      height: 9px !important;
    }
    border-width: 2px !important;
    border-style: none !important;
    border-radius: 50% !important;
    background-color: rgb(192, 189, 189) !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
  }

  .mat-radio-inner-circle {
    height: 23px !important;
    left: -6px !important;
    top: -6px !important;
    width: 23px !important;
    @include tablet-sm{
      height: 21px !important;
      width: 21px !important;
    }
  }

  .mat-radio-button .mat-radio-ripple {
    height: 0 !important;
    width: 0 !important;
  }
}



//   // .radio-group {

//   //   display: block;
//   //   position: relative;
//   //   padding-left: 35px;
//   //   margin-bottom: 12px;
//   //   cursor: pointer;
//   //   font-size: 22px;
//   //   -webkit-user-select: none;
//   //   -moz-user-select: none;
//   //   -ms-user-select: none;
//   //   user-select: none;

//   //   input {
//   //     cursor: pointer;
//   //     opacity: 0;
//   //     position: absolute;
//   //   }

//   //   .checkrad {
//   //     position: absolute;
//   //     top: 0;
//   //     left: 0;
//   //     height: 25px;
//   //     width: 25px;
//   //     background-color: #eee;
//   //     border-radius: 50%;
//   //   }

//   // }

// }




// @media (max-width: 768px) {
//   .testimonials p {
//     font-size: 15px;
//   }

//   .testimonials {
//     .title_container {
//       h1 {
//         font-size: 20px;
//       }
//     }
//   }
// }

// @media (max-width: 576px) {
//   .testimonials {
//     .title_container {
//       h1 {
//         font-size: 17px;
//       }
//     }
//   }

//   .testimonials p {
//     font-size: 12px;
//     width: 80vw;
//   }

// }
