<section class="testimonials mt-5">
  <div class="container d-flex justify-content-center">
    <div class="title_container mb-5 mt-4">
      <h1>témoignages</h1>
    </div>
  </div>

  <div class="container d-flex temoirespo justify-content-center">
    <app-testimons [temo]="selectedItem" [firstTemo]="firstTemo"></app-testimons>
    <div class="d-flex flex-column ml-5 radios">
      <div *ngFor="let item of temoin" (click)="onSelected(item)">
        <mat-radio-button [value]="item.id" color="primary" [checked]="item===firstTemo" class="radio-buttons">
        </mat-radio-button>
      </div>
    </div>
  </div>

</section>
