<section class="testimonials mt-5">
  <div class="container d-flex justify-content-center">
    <div class="title_container mb-5 mt-4">
      <h1>témoignages</h1>
    </div>
  </div>
  <div class="container p-0">
    <div class="carousel">
      <ul class="slides">
        <input type="radio" name="radio-buttons" id="img-1" checked />
        <li class="slide-container d-flex">
          <div class="slide-image d-flex">
            <img
              src="https://static1.squarespace.com/static/53ff938ce4b03b4dcb2d4ba1/5952cb223a0411278bbaa6ca/5952cb94e110ebe6bb293285/1498598307711/Paul-Hatcher_11x14.jpg"
              alt="temoins" class="rounded-circle mr-4">

            <img src="../../assets/quotes.png" alt="quotes" class="quotes mr-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, beatae corrupti sit
              debitis inventore
              dolore voluptates, quasi magni, error facere aliquid blanditiis nostrum voluptatibus vitae soluta!
              Repellat
              voluptates consequuntur ratione? <br>
              <br>
              <span>Lorem Ipsum</span><br>
              lorem ipsum dolor sit amet
            </p>
            <div class="carousel-dots ml-5">
              <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
              <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
              <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
              <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
            </div>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-2" />
        <li class="slide-container d-flex">
          <div class="slide-image d-flex justify-content-center">
            <img src="https://i.imgflip.com/1esltm.jpg" alt="temoins" class="rounded-circle mr-4">

            <img src="../../assets/quotes.png" alt="quotes" class="quotes mr-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, beatae corrupti sit
              debitis inventore
              dolore voluptates, quasi magni, error facere aliquid blanditiis nostrum voluptatibus vitae soluta!
              Repellat
              voluptates consequuntur ratione? <br>
              <br>
              <span>Ipsum Lorem</span><br>
              lorem ipsum dolor sit amet
            </p>
            <div class="carousel-dots ml-5">
              <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
              <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
              <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
              <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
            </div>
          </div>
        </li>

        <input type="radio" name="radio-buttons" id="img-3" />
        <li class="slide-container d-flex">
          <div class="slide-image d-flex justify-content-center">
            <img
              src="https://media.istockphoto.com/photos/funny-teacher-cat-picture-id636270590?k=6&m=636270590&s=612x612&w=0&h=ronwweLxTEf9df3hqmlJdyEREBv_5jiJSNEWXKsznbk="
              alt="temoins" class="rounded-circle mr-4">

            <img src="../../assets/quotes.png" alt="quotes" class="quotes mr-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, beatae corrupti sit
              debitis inventore
              dolore voluptates, quasi magni, error facere aliquid blanditiis nostrum voluptatibus vitae soluta!
              Repellat
              voluptates consequuntur ratione? <br>
              <br>
              <span>Dolor Magni</span><br>
              lorem ipsum dolor sit amet
            </p>
            <div class="carousel-dots ml-5">
              <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
              <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
              <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
              <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
            </div>
          </div>
        </li>
        <input type="radio" name="radio-buttons" id="img-4" />
        <li class="slide-container d-flex ">
          <div class="slide-image d-flex justify-content-center">
            <img
              src="https://static1.squarespace.com/static/53ff938ce4b03b4dcb2d4ba1/5952cb223a0411278bbaa6ca/5952cb94e110ebe6bb293285/1498598307711/Paul-Hatcher_11x14.jpg"
              alt="temoins" class="rounded-circle mr-4">

            <img src="../../assets/quotes.png" alt="quotes" class="quotes mr-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, beatae corrupti sit
              debitis inventore
              dolore voluptates, quasi magni, error facere aliquid blanditiis nostrum voluptatibus vitae soluta!
              Repellat
              voluptates consequuntur ratione? <br>
              <br>
              <span>Lorem Ipsum</span><br>
              lorem ipsum dolor sit amet
            </p>
            <div class="carousel-dots ml-5">
              <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
              <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
              <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
              <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
            </div>
          </div>
        </li>
      </ul>
    </div>



    <!-- <div class="carousel">
      <ul class="slides d-flex justify-content-center mt-5">
        <li class="slide-box">
          <img
            src="https://static1.squarespace.com/static/53ff938ce4b03b4dcb2d4ba1/5952cb223a0411278bbaa6ca/5952cb94e110ebe6bb293285/1498598307711/Paul-Hatcher_11x14.jpg"
            alt="temoins" class="rounded-circle mr-4">
          <img src="../../assets/quotes.png" alt="quotes" class="quotes mr-4">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, beatae corrupti sit
            debitis inventore
            dolore voluptates, quasi magni, error facere aliquid blanditiis nostrum voluptatibus vitae soluta! Repellat
            voluptates consequuntur ratione? <br>
            <br>
            <span>Lorem Ipsum</span><br>
            lorem ipsum dolor sit amet
          </p>
        </li>
        <input type="radio" name="radio-buttons" id="temoin-1" checked />
        <li class="slide-box">
          <img
            src="https://static1.squarespace.com/static/53ff938ce4b03b4dcb2d4ba1/5952cb223a0411278bbaa6ca/5952cb94e110ebe6bb293285/1498598307711/Paul-Hatcher_11x14.jpg"
            alt="temoins" class="rounded-circle mr-4">
          <img src="../../assets/quotes.png" alt="quotes" class="quotes mr-4">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, beatae corrupti sit
            debitis inventore
            dolore voluptates, quasi magni, error facere aliquid blanditiis nostrum voluptatibus vitae soluta! Repellat
            voluptates consequuntur ratione? <br>
            <br>
            <span>Lorem Ipsum</span><br>
            lorem ipsum dolor sit amet
          </p>
        </li>
        <input type="radio" name="radio-buttons" id="temoin-2" checked />

        <div class="carousel-dots">
          <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
          <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
          <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
        </div>

      </ul>
    </div> -->
  </div>
</section>
