// fonts
$font-family: 'Open Sans';
$secondary-font: 'Roboto';
$paragraph-font: 'Poppins';

// colors
$primary-color: #1592E6;
$secondary-color: white;
$lite-primary-color:rgb(182, 226, 255);
$dark-blue: #1A2D59;
$light-grey: rgb(208, 208, 208, 0.5);
$dark-grey : grey;
$background-grey:#F2F2F2;
$purple-rain: #7B578D;
$green:#37A06E;
$blue-jisr:#3498DB;
