@function color($color-name){
    @return map-get($colors, $color-name)
};


// fonts
$font-family: 'Open Sans';
$secondary-font: 'Roboto';
$paragraph-font: 'Poppins';

// colors
$colors :(
    primary: #22C0FF,
    lite-primary: rgb(117, 216, 255),
    secondary: #675E69,
    reverse: #FFFFFF,
    secondary-bold: #5A5A5A,
    backround-grey: #FAFAFA
);

