<section class="hero">
  <img src="../assets/hero.jpg">
  <div class="slogan">
    <h3 class="text-uppercase">Au service de l'école publique<br> depuis 1999</h3>
  </div>
  <div class="lang d-flex flex-row justify-content-center align-items-center ">
      <!-- <mat-icon class="mr-3" aria-hidden="false" aria-label="Example home icon">call</mat-icon>
      <mat-icon class="mr-3" aria-hidden="false" aria-label="Example home icon">place</mat-icon>
      <mat-icon class="mr-3" aria-hidden="false" aria-label="Example home icon">search</mat-icon> -->
      <img src="../../assets/phone.png">
      <img src="../../assets/place.png">
      <img src="../../assets/search.png">


      <a href="#">FR /</a>
      <a href="#">EN /</a>
      <a href="#" class="ar"> ع</a>
  </div>
</section>
