@import '../../variables.scss';

.trophies-section {
  width: 100%;

  .trophies-wrapper {
    position: relative;
    margin-bottom: 150px;

    .trophies-opening {
      background-color: color(primary);
      color: color(reverse);

      h1 {
        font-size: 20px;
        font-family: $paragraph-font;
        font-weight: bold;
        padding: 3rem;
        padding-left: 8rem;
        position: relative;

        &::before {
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: color(reverse);
          position: absolute;
          left: 8%;
          bottom: 44%;
        }

        .title-spec {
          font-size: 20px;
          color: color(primary);
          background-color: color(reverse);
          padding: 2px 43px;
          margin-left: 5px;
          border-radius: 10px;

        }
      }
    }

    .trophies-binding-section {
      width: 60%;

      app-trophie-details {
        width: 70%;
      }

      .trophies-indicators {
        padding-left: 2rem;
        position: relative;

        &::before {
          content: "";
          height: 6px;
          width: 100%;
          background-color: black;
          position: absolute;
          bottom: 21%;
          left: 18%;
        }

        .indicator {
          .indicator-dot {
            cursor: pointer;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            background-color: black;
            border-radius: 50%
          }

          .indicator-dot-selected {
            width: 15px;
            height: 15px;
            background-color: color(reverse);
            border: 3px solid color(primary);
          }
        }
      }
    }
  }
  .liner {
    position: relative;
    top: 35px;
    right: 45px;
  }

}
