<section class="team-aljisr mt-5">
  <div class="container d-flex justify-content-center">
    <div class="title_container mb-5 mt-5">
      <h1>équipe aljisr</h1>
    </div>
  </div>
  <div class="container d-flex align-items-center mt-5">
    <img src="../../assets/left-arrow.png" id="prevmem" class="membslide mr-5" alt="pervious member">

    <div class="cards-container d-flex">

      <div class="wrapper d-flex ">
        <div class="card mr-4 member" style="width: 18rem;">
          <img class="card-img-top h-50"
            src="https://www.dhresource.com/0x0s/f2-albu-g7-M01-D3-19-rBVaSlpXIYiAKD-9AADJdM_OZug065.jpg/2018-custom-made-royal-blue-men-suits-for.jpg"
            alt="Card image cap">
          <div class="card-body h-50">
            <h5 class="font-weight-bold text-uppercase">lorem ipsum</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card mr-4 member" style="width: 18rem;">
          <img class="card-img-top h-50"
            src="https://www.dhresource.com/0x0s/f2-albu-g7-M01-D3-19-rBVaSlpXIYiAKD-9AADJdM_OZug065.jpg/2018-custom-made-royal-blue-men-suits-for.jpg"
            alt="Card image cap">
          <div class="card-body h-50">
            <h5 class="font-weight-bold text-uppercase">Lorem ipsum</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card mr-4 member" style="width: 18rem;">
          <img class="card-img-top h-50"
            src="https://www.dhresource.com/0x0s/f2-albu-g7-M01-D3-19-rBVaSlpXIYiAKD-9AADJdM_OZug065.jpg/2018-custom-made-royal-blue-men-suits-for.jpg"
            alt="Card image cap ">
          <div class="card-body h-50">
            <h5 class="font-weight-bold text-uppercase">Lorem ipsum</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card member mr-4" style="width: 18rem;">
          <img class="card-img-top h-50"
            src="https://www.dhresource.com/0x0s/f2-albu-g7-M01-D3-19-rBVaSlpXIYiAKD-9AADJdM_OZug065.jpg/2018-custom-made-royal-blue-men-suits-for.jpg"
            alt="Card image cap ">
          <div class="card-body h-50">
            <h5 class="font-weight-bold text-uppercase">Lorem ipsum</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card member mr-4" style="width: 18rem;">
          <img class="card-img-top h-50"
            src="https://cdn.pixabay.com/photo/2018/10/30/16/06/water-lily-3784022__340.jpg" alt="Card image cap">
          <div class="card-body h-50">
            <h5 class="font-weight-bold text-uppercase">Lorem ipsum</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>

      </div>
    </div>
    <img src="../../assets/right_arrow.png" id="nextmem" class="membslide ml-5" alt="next member">
  </div>
</section>
