<section class="team-aljisr mt-5">
  <div class="container d-flex justify-content-center">
    <div class="title_container mb-5 mt-5">
      <h1>équipe Al jisr</h1>
    </div>
  </div>
  <div class="container d-flex flex-row flex-nowrap align-items-center justify-content-center mt-5">
    <img src="../../assets/icons/left-arrow.png" id="prevmem" class="membslide mr-5" alt="pervious member">

    <div class="cards-container ">

      <mat-accordion class="wrapper d-flex flex-row ">

        <mat-expansion-panel class="member mr-4" hideToggle="true">
          <mat-expansion-panel-header class="header" [collapsedHeight]="'220px'" [expandedHeight]="'220px'">
            <img src="../../assets/team/Untitled-1.png" style="width:100%">
            <mat-panel-title>
              Nom Prénom
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium similique reiciendis.
            Quisquam beatae nobis</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="member mr-4" hideToggle="true">
          <mat-expansion-panel-header class="header" [collapsedHeight]="'220px'" [expandedHeight]="'220px'">
            <img src="../../assets/team/Untitled-2.png" style="width:100%">
            <mat-panel-title>
              Nom Prénom
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium similique reiciendis.
            Quisquam beatae nobis</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="member mr-4" hideToggle="true">
          <mat-expansion-panel-header class="header" [collapsedHeight]="'220px'" [expandedHeight]="'220px'">
            <img src="../../assets/team/Untitled-3.png" style="width:100%">
            <mat-panel-title>
              Nom Prénom
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium similique reiciendis.
            Quisquam beatae nobis</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="member mr-4" hideToggle="true">
            <mat-expansion-panel-header class="header" [collapsedHeight]="'220px'" [expandedHeight]="'220px'">
              <img src="../../assets/team/Untitled-1.png" style="width:100%">
              <mat-panel-title>
                Nom Prénom
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium similique reiciendis.
              Quisquam beatae nobis</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="member mr-4" hideToggle="true">
              <mat-expansion-panel-header class="header" [collapsedHeight]="'220px'" [expandedHeight]="'220px'">
                <img src="../../assets/team/Untitled-2.png" style="width:100%">
                <mat-panel-title>
                  Nom Prénom
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium similique reiciendis.
                Quisquam beatae nobis</p>
            </mat-expansion-panel>

        <mat-expansion-panel class="member mr-4" hideToggle="true">
          <mat-expansion-panel-header class="header" [collapsedHeight]="'220px'" [expandedHeight]="'220px'">
            <img src="../../assets/team/Untitled-3.png" style="width:100%">
            <mat-panel-title>
              Nom Prénom
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium similique reiciendis.
            Quisquam beatae nobis</p>
        </mat-expansion-panel>

        <mat-expansion-panel class="member mr-4" hideToggle="true">
          <mat-expansion-panel-header class="header" [collapsedHeight]="'220px'" [expandedHeight]="'220px'">
            <img src="../../assets/team/Untitled-1.png" style="width:100%">
            <mat-panel-title>
              Nom Prénom
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium similique reiciendis.
            Quisquam beatae nobis</p>
        </mat-expansion-panel>


      </mat-accordion>
    </div>
    <img src="../../assets/icons/right_arrow.png" id="nextmem" class="membslide ml-5" alt="next member">
  </div>
</section>