@import "../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #1592E6;
  bottom: 46%;
  left: -33%;
}

.team-aljisr {
  background-color: #F2F2F2;
  padding-bottom: 7rem;
  font-family: $font-family;

  .title_container {
    position: relative;
    color: $primary-color;
    text-transform: uppercase;
    cursor: pointer;

    h1 {
      font-size: 25px;
      font-weight: 600;

      &::before {
        @extend %line;
      }
    }
  }

  .cards-container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  // .wrapper {
  //   clip-path: polygon(100% 79%, 79% 100%, 100% 100%);
  // }

  .membslide {
    border-radius: 50%;
    border: $primary-color solid;
    width: 40px;
    height: 40px;
    padding: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
