@import "../../variables.scss";

%line {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #1592E6;
  bottom: 46%;
  left: -33%;
}

.team-aljisr {
  background-color: #F2F2F2;
  padding-bottom: 7rem;
  font-family: $font-family;

  .title_container {
    position: relative;
    color: $primary-color;
    text-transform: uppercase;
    cursor: pointer;

    h1 {
      font-size: 25px;
      font-weight: 600;

      &::before {
        @extend %line;
      }
    }
  }

  .cards-container {
    width: 70%;
    box-sizing: border-box;
    overflow: hidden;

    .wrapper{
      .card{
        border: 0;
        .card_container{
          background-color: white;
          clip-path: polygon(100% 0, 100% 90%, 80% 100%, 0 100%, 0 0);
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
          .card-body{
            h5{
              font-size: 15px;
              font-weight: 300;
            }
            p{
              font-size: 12px;
              font-weight: 200;
              color: #bdbcc0;
            }
          }
        } 
      }
    }
  }

  .membslide {
    cursor: pointer;
    border-radius: 50%;
    border: $primary-color solid;
    width: 35px;
    height: 35px;
    padding: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}


@media screen and (max-width:768px) {

  .team-aljisr {
    .title_container {
      h1 {
        font-size: 20px;
      }
    }
  
    .cards-container {
      .wrapper{
        .card{
          width: 13rem !important;
          height: 25rem !important;
          .card_container{
            .card-body{
              h5{
                font-size: 1rem;
              }
              p{
                font-size: 0.8rem;
              }
            }
          } 
        }
      }
    }
  
    .membslide {
      width: 30px;
      height: 30px;
      padding: 5px;
    }
  }


}

@media (max-width: 576px) {

  .team-aljisr {
    .title_container {
      h1 {
        font-size: 17px;
      }
    }
  
    .cards-container {
      .wrapper{
        .card{
          width: 11rem !important;
          height: 22rem !important;
          .card_container{
            .card-body{
              h5{
                font-size: 0.8rem;
              }
              p{
                font-size: 0.6rem;
              }
            }
          } 
        }
      }
    }
  
    .membslide {
      width: 25px;
      height: 25px;
      padding: 3px;
    }
  }

  
}

